In [3]:
import os
os.chdir(r"/Users/Greer/Desktop/Lending Club - From Misha/Payments")

import numpy as np
import pandas as pd
import seaborn as sns

# Import PMTHIST_all_20160715

In [22]:
import csv

## Check the attributes list
with open('PMTHIST_all_20160715.csv', newline='') as f:
  reader = csv.reader(f)
  row1 = next(reader)
    
print(row1)

['LOAN_ID', 'PBAL_BEG_PERIOD', 'PRNCP_PAID', 'INT_PAID', 'FEE_PAID', 'DUE_AMT', 'RECEIVED_AMT', 'RECEIVED_D', 'PERIOD_END_LSTAT', 'MONTH', 'PBAL_END_PERIOD', 'MOB', 'CO', 'COAMT', 'InterestRate', 'IssuedDate', 'MONTHLYCONTRACTAMT', 'dti', 'State', 'HomeOwnership', 'MonthlyIncome', 'EarliestCREDITLine', 'OpenCREDITLines', 'TotalCREDITLines', 'RevolvingCREDITBalance', 'RevolvingLineUtilization', 'Inquiries6M', 'DQ2yrs', 'MonthsSinceDQ', 'PublicRec', 'MonthsSinceLastRec', 'EmploymentLength', 'currentpolicy', 'grade', 'term', 'APPL_FICO_BAND', 'Last_FICO_BAND', 'VINTAGE', 'PCO_RECOVERY', 'PCO_COLLECTION_FEE']

In [41]:
data = pd.read_csv("PMTHIST_all_20160715.csv", nrows=10000, low_memory=False)
data.head()

,LOAN_ID,PBAL_BEG_PERIOD,PRNCP_PAID,INT_PAID,FEE_PAID,DUE_AMT,RECEIVED_AMT,RECEIVED_D,PERIOD_END_LSTAT,MONTH,...,MonthsSinceLastRec,EmploymentLength,currentpolicy,grade,term,APPL_FICO_BAND,Last_FICO_BAND,VINTAGE,PCO_RECOVERY,PCO_COLLECTION_FEE
0,54734,25000.000000,581.297917,247.802083,0.0,829.1,829.1,SEP2009,Current,SEP2009,...,NaN,< 1 year,1,B,36,735-739,755-759,09Q3,NaN,NaN
1,54734,24418.702083,587.059790,242.040210,0.0,829.1,829.1,OCT2009,Current,OCT2009,...,NaN,< 1 year,1,B,36,735-739,755-759,09Q3,NaN,NaN
2,54734,23831.642293,592.878776,236.221224,0.0,829.1,829.1,NOV2009,Current,NOV2009,...,NaN,< 1 year,1,B,36,735-739,785-789,09Q3,NaN,NaN
3,54734,23238.763518,598.755439,230.344561,0.0,829.1,829.1,DEC2009,Current,DEC2009,...,NaN,< 1 year,1,B,36,735-739,780-784,09Q3,NaN,NaN
4,54734,22640.008078,604.690353,224.409647,0.0,829.1,829.1,JAN2010,Current,JAN2010,...,NaN,< 1 year,1,B,36,735-739,800-804,09Q3,NaN,NaN

# Splitting large csv into 30 chunks

In [45]:
for i,chunk in enumerate(pd.read_csv('PMTHIST_all_20160715.csv', chunksize=500000)):
    chunk.to_csv('chunk{}.csv'.format(i))

/Users/Greer/anaconda3/lib/python3.5/site-packages/IPython/core/interactiveshell.py:2717: DtypeWarning: Columns (29) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [52]:
os.chdir(r"/Users/Greer/Desktop/Lending Club - From Misha/Payments/chunks")
temp = pd.read_csv("chunk0.csv", low_memory=False)

In [53]:
temp.head()

,Unnamed: 0,LOAN_ID,PBAL_BEG_PERIOD,PRNCP_PAID,INT_PAID,FEE_PAID,DUE_AMT,RECEIVED_AMT,RECEIVED_D,PERIOD_END_LSTAT,...,MonthsSinceLastRec,EmploymentLength,currentpolicy,grade,term,APPL_FICO_BAND,Last_FICO_BAND,VINTAGE,PCO_RECOVERY,PCO_COLLECTION_FEE
0,0,54734,25000.000000,581.297917,247.802083,0.0,829.1,829.1,SEP2009,Current,...,NaN,< 1 year,1,B,36,735-739,755-759,09Q3,NaN,NaN
1,1,54734,24418.702083,587.059790,242.040210,0.0,829.1,829.1,OCT2009,Current,...,NaN,< 1 year,1,B,36,735-739,755-759,09Q3,NaN,NaN
2,2,54734,23831.642293,592.878776,236.221224,0.0,829.1,829.1,NOV2009,Current,...,NaN,< 1 year,1,B,36,735-739,785-789,09Q3,NaN,NaN
3,3,54734,23238.763518,598.755439,230.344561,0.0,829.1,829.1,DEC2009,Current,...,NaN,< 1 year,1,B,36,735-739,780-784,09Q3,NaN,NaN
4,4,54734,22640.008078,604.690353,224.409647,0.0,829.1,829.1,JAN2010,Current,...,NaN,< 1 year,1,B,36,735-739,800-804,09Q3,NaN,NaN

# Loop chunk CSV files into 30 dataframes within a large dict file d{}

In [ ]:
d = {}
for i in range(0,1):
    d[i] = pd.read_csv("chunk" + str(i) + ".csv", low_memory=False)

## Once d is created the DataFrame for company x can be retrieved as d[x], so you can look up a specific company quite easily. To operate on all companies you would typically use a loop like:
# for name, df in d.items():
    # operate on DataFrame df for company name

# Concatenate the 30 dataframes into one giant dataframe

In [4]:
import glob

path =r'/Users/Greer/Desktop/Lending Club - From Misha/Payments/chunks' # use your path 
allFiles = glob.glob(path + "/*.csv")
frame = pd.DataFrame()
list_ = []
for file_ in allFiles:
    df = pd.read_csv(file_,index_col=None, header=0, low_memory=False)
    list_.append(df)
frame = pd.concat(list_)

In [5]:
len(frame)

15376980

In [6]:
frame.drop(frame.columns[[0]], axis=1, inplace=True)
frame.head()

,LOAN_ID,PBAL_BEG_PERIOD,PRNCP_PAID,INT_PAID,FEE_PAID,DUE_AMT,RECEIVED_AMT,RECEIVED_D,PERIOD_END_LSTAT,MONTH,...,MonthsSinceLastRec,EmploymentLength,currentpolicy,grade,term,APPL_FICO_BAND,Last_FICO_BAND,VINTAGE,PCO_RECOVERY,PCO_COLLECTION_FEE
0,54734,25000.000000,581.297917,247.802083,0.0,829.1,829.1,SEP2009,Current,SEP2009,...,NaN,< 1 year,1,B,36,735-739,755-759,09Q3,NaN,NaN
1,54734,24418.702083,587.059790,242.040210,0.0,829.1,829.1,OCT2009,Current,OCT2009,...,NaN,< 1 year,1,B,36,735-739,755-759,09Q3,NaN,NaN
2,54734,23831.642293,592.878776,236.221224,0.0,829.1,829.1,NOV2009,Current,NOV2009,...,NaN,< 1 year,1,B,36,735-739,785-789,09Q3,NaN,NaN
3,54734,23238.763518,598.755439,230.344561,0.0,829.1,829.1,DEC2009,Current,DEC2009,...,NaN,< 1 year,1,B,36,735-739,780-784,09Q3,NaN,NaN
4,54734,22640.008078,604.690353,224.409647,0.0,829.1,829.1,JAN2010,Current,JAN2010,...,NaN,< 1 year,1,B,36,735-739,800-804,09Q3,NaN,NaN

In [51]:
df = frame
df.reset_index
list(df)

['LOAN_ID',
 'PBAL_BEG_PERIOD',
 'PRNCP_PAID',
 'INT_PAID',
 'FEE_PAID',
 'DUE_AMT',
 'RECEIVED_AMT',
 'RECEIVED_D',
 'PERIOD_END_LSTAT',
 'MONTH',
 'PBAL_END_PERIOD',
 'MOB',
 'CO',
 'COAMT',
 'InterestRate',
 'IssuedDate',
 'MONTHLYCONTRACTAMT',
 'dti',
 'State',
 'HomeOwnership',
 'MonthlyIncome',
 'EarliestCREDITLine',
 'OpenCREDITLines',
 'TotalCREDITLines',
 'RevolvingCREDITBalance',
 'RevolvingLineUtilization',
 'Inquiries6M',
 'DQ2yrs',
 'MonthsSinceDQ',
 'PublicRec',
 'MonthsSinceLastRec',
 'EmploymentLength',
 'currentpolicy',
 'grade',
 'term',
 'APPL_FICO_BAND',
 'Last_FICO_BAND',
 'VINTAGE',
 'PCO_RECOVERY',
 'PCO_COLLECTION_FEE']

In [10]:
df.iloc[:4,:10]

,LOAN_ID,PBAL_BEG_PERIOD,PRNCP_PAID,INT_PAID,FEE_PAID,DUE_AMT,RECEIVED_AMT,RECEIVED_D,PERIOD_END_LSTAT,MONTH
0,54734,25000.000000,581.297917,247.802083,0.0,829.1,829.1,SEP2009,Current,SEP2009
1,54734,24418.702083,587.059790,242.040210,0.0,829.1,829.1,OCT2009,Current,OCT2009
2,54734,23831.642293,592.878776,236.221224,0.0,829.1,829.1,NOV2009,Current,NOV2009
3,54734,23238.763518,598.755439,230.344561,0.0,829.1,829.1,DEC2009,Current,DEC2009

In [16]:
df.iloc[:4,11:22]

,MOB,CO,COAMT,InterestRate,IssuedDate,MONTHLYCONTRACTAMT,dti,State,HomeOwnership,MonthlyIncome,EarliestCREDITLine
0,1,0,0.0,0.1189,AUG2009,829.1,19.48,CA,RENT,7083.333333,FEB1994
1,2,0,0.0,0.1189,AUG2009,829.1,19.48,CA,RENT,7083.333333,FEB1994
2,3,0,0.0,0.1189,AUG2009,829.1,19.48,CA,RENT,7083.333333,FEB1994
3,4,0,0.0,0.1189,AUG2009,829.1,19.48,CA,RENT,7083.333333,FEB1994

In [20]:
df.iloc[:4,23:30]

,TotalCREDITLines,RevolvingCREDITBalance,RevolvingLineUtilization,Inquiries6M,DQ2yrs,MonthsSinceDQ,PublicRec
0,42.0,28854,0.521,0.0,0.0,NaN,0
1,42.0,28854,0.521,0.0,0.0,NaN,0
2,42.0,28854,0.521,0.0,0.0,NaN,0
3,42.0,28854,0.521,0.0,0.0,NaN,0

In [21]:
df.iloc[:4,31:42]

,EmploymentLength,currentpolicy,grade,term,APPL_FICO_BAND,Last_FICO_BAND,VINTAGE,PCO_RECOVERY,PCO_COLLECTION_FEE
0,< 1 year,1,B,36,735-739,755-759,09Q3,NaN,NaN
1,< 1 year,1,B,36,735-739,755-759,09Q3,NaN,NaN
2,< 1 year,1,B,36,735-739,785-789,09Q3,NaN,NaN
3,< 1 year,1,B,36,735-739,780-784,09Q3,NaN,NaN

In [23]:
df.EmploymentLength.value_counts()

10+ years    5019063
< 1 year     1764663
2 years      1360310
3 years      1212530
5 years       999473
1 year        981482
4 years       920650
7 years       801915
6 years       790953
8 years       746274
9 years       591712
n/a           187955
Name: EmploymentLength, dtype: int64

In [ ]:
df.replace('n/a', np.nan,inplace=True)
df.EmploymentLength.fillna(value=0,inplace=True)
df['EmploymentLength'].replace(to_replace='[^0-9]+', value='', inplace=True, regex=True)
df['EmploymentLength'] = df['EmploymentLength'].astype(int)

In [26]:
## Examine distribution of delinquency
df.DQ2yrs.value_counts()

0.0     12536004
1.0      1904353
2.0       555618
3.0       196289
4.0        85060
5.0        43213
6.0        23391
7.0        12495
8.0         6902
9.0         4218
10.0        2820
11.0        1659
12.0        1257
13.0         970
14.0         542
15.0         388
16.0         236
18.0         185
17.0         173
19.0         137
22.0          53
21.0          43
24.0          36
20.0          31
26.0          22
29.0          18
39.0          14
27.0          13
30.0           7
Name: DQ2yrs, dtype: int64

In [ ]:
## Convert 
APPL_high = string.split("/bar/")[1].split("/")[0]
APPL_low = 
Last_high = 
Last_low = 
## Convert string vars to float

In [ ]:
string = '756-800'
# APPL_high = string.find('-')
APPL_low = string.split(" ")[0].split("-")[0]
APPL_high = string.split("-")[1].split(" ")[0]
print(APPL_low, APPL_high)

In [53]:
len(frame.APPL_FICO_BAND)

15376980

In [65]:
for i in range(0,len(frame.APPL_FICO_BAND)):
    string = df.iloc[i]['APPL_FICO_BAND']
    APPL_low = string.split(" ")[0].split("-")[0]
    APPL_high = string.split("-")[1].split(" ")[0]

IndexError: list index out of range

In [ ]:
## Convert appl and last FICO band to average of those ranges
APPL_FICO_avg = (APPL_high+APPL_low)//2
Last_FICO_avg = (Last_high+Last_low)//2

In [ ]:
## Replace appl and last FICO band in dataframe with average calculated above
df['APPL_FICO_BAND'] = APPL_FICO_avg
df['Last_FICO_BAND'] = Last_FICO_avg

In [ ]:
## Convert NaNs in MonthsSinceDQ, MonthsSinceLastRec, fPCO_Recovery and Collection_Fee
fill.na

In [ ]:
## Convert ReceivedDate and IssueDate to Date Format
from datetime import datetime

df.EarliestCREDITLine = pd.to_datetime(df.EarliestCREDITLine)
dttoday = datetime.now().strftime('%Y-%m-%d')
# There is a better way to do this :) 
df.EarliestCREDITLine = df.EarliestCREDITLine.apply(lambda x: (
        np.timedelta64((x - pd.Timestamp(dttoday)),'D').astype(int))/-365)
df.EarliestCREDITLine.head()

In [54]:
df.iloc[0:5]['EarliestCREDITLine']

0   1994-02-01
1   1994-02-01
2   1994-02-01
3   1994-02-01
4   1994-02-01
Name: EarliestCREDITLine, dtype: datetime64[ns]

In [13]:
RECEIVED_D
IssuedDate

,RevolvingLineUtilization,Inquiries6M,DQ2yrs,MonthsSinceDQ,PublicRec,MonthsSinceLastRec,EmploymentLength,currentpolicy,grade
0,0.521,0.0,0.0,NaN,0,NaN,< 1 year,1,B
1,0.521,0.0,0.0,NaN,0,NaN,< 1 year,1,B
2,0.521,0.0,0.0,NaN,0,NaN,< 1 year,1,B
3,0.521,0.0,0.0,NaN,0,NaN,< 1 year,1,B

4