In [1]:
import os
os.chdir(r"/Users/Greer/Desktop/Lending Club - From Misha/Payments")

import numpy as np
import pandas as pd
import seaborn as sns

# Import PMTHIST_all_20160715

In [2]:
import csv

## Check the attributes list
with open('PMTHIST_all_20160715.csv', newline='') as f:
  reader = csv.reader(f)
  row1 = next(reader)
    
print(row1)

['LOAN_ID', 'PBAL_BEG_PERIOD', 'PRNCP_PAID', 'INT_PAID', 'FEE_PAID', 'DUE_AMT', 'RECEIVED_AMT', 'RECEIVED_D', 'PERIOD_END_LSTAT', 'MONTH', 'PBAL_END_PERIOD', 'MOB', 'CO', 'COAMT', 'InterestRate', 'IssuedDate', 'MONTHLYCONTRACTAMT', 'dti', 'State', 'HomeOwnership', 'MonthlyIncome', 'EarliestCREDITLine', 'OpenCREDITLines', 'TotalCREDITLines', 'RevolvingCREDITBalance', 'RevolvingLineUtilization', 'Inquiries6M', 'DQ2yrs', 'MonthsSinceDQ', 'PublicRec', 'MonthsSinceLastRec', 'EmploymentLength', 'currentpolicy', 'grade', 'term', 'APPL_FICO_BAND', 'Last_FICO_BAND', 'VINTAGE', 'PCO_RECOVERY', 'PCO_COLLECTION_FEE']

In [41]:
data = pd.read_csv("PMTHIST_all_20160715.csv", nrows=10000, low_memory=False)
data.head()

,LOAN_ID,PBAL_BEG_PERIOD,PRNCP_PAID,INT_PAID,FEE_PAID,DUE_AMT,RECEIVED_AMT,RECEIVED_D,PERIOD_END_LSTAT,MONTH,...,MonthsSinceLastRec,EmploymentLength,currentpolicy,grade,term,APPL_FICO_BAND,Last_FICO_BAND,VINTAGE,PCO_RECOVERY,PCO_COLLECTION_FEE
0,54734,25000.000000,581.297917,247.802083,0.0,829.1,829.1,SEP2009,Current,SEP2009,...,NaN,< 1 year,1,B,36,735-739,755-759,09Q3,NaN,NaN
1,54734,24418.702083,587.059790,242.040210,0.0,829.1,829.1,OCT2009,Current,OCT2009,...,NaN,< 1 year,1,B,36,735-739,755-759,09Q3,NaN,NaN
2,54734,23831.642293,592.878776,236.221224,0.0,829.1,829.1,NOV2009,Current,NOV2009,...,NaN,< 1 year,1,B,36,735-739,785-789,09Q3,NaN,NaN
3,54734,23238.763518,598.755439,230.344561,0.0,829.1,829.1,DEC2009,Current,DEC2009,...,NaN,< 1 year,1,B,36,735-739,780-784,09Q3,NaN,NaN
4,54734,22640.008078,604.690353,224.409647,0.0,829.1,829.1,JAN2010,Current,JAN2010,...,NaN,< 1 year,1,B,36,735-739,800-804,09Q3,NaN,NaN

# Splitting large csv into 30 chunks

In [45]:
for i,chunk in enumerate(pd.read_csv('PMTHIST_all_20160715.csv', chunksize=500000)):
    chunk.to_csv('chunk{}.csv'.format(i))

/Users/Greer/anaconda3/lib/python3.5/site-packages/IPython/core/interactiveshell.py:2717: DtypeWarning: Columns (29) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [52]:
os.chdir(r"/Users/Greer/Desktop/Lending Club - From Misha/Payments/chunks")
temp = pd.read_csv("chunk0.csv", low_memory=False)

In [53]:
temp.head()

,Unnamed: 0,LOAN_ID,PBAL_BEG_PERIOD,PRNCP_PAID,INT_PAID,FEE_PAID,DUE_AMT,RECEIVED_AMT,RECEIVED_D,PERIOD_END_LSTAT,...,MonthsSinceLastRec,EmploymentLength,currentpolicy,grade,term,APPL_FICO_BAND,Last_FICO_BAND,VINTAGE,PCO_RECOVERY,PCO_COLLECTION_FEE
0,0,54734,25000.000000,581.297917,247.802083,0.0,829.1,829.1,SEP2009,Current,...,NaN,< 1 year,1,B,36,735-739,755-759,09Q3,NaN,NaN
1,1,54734,24418.702083,587.059790,242.040210,0.0,829.1,829.1,OCT2009,Current,...,NaN,< 1 year,1,B,36,735-739,755-759,09Q3,NaN,NaN
2,2,54734,23831.642293,592.878776,236.221224,0.0,829.1,829.1,NOV2009,Current,...,NaN,< 1 year,1,B,36,735-739,785-789,09Q3,NaN,NaN
3,3,54734,23238.763518,598.755439,230.344561,0.0,829.1,829.1,DEC2009,Current,...,NaN,< 1 year,1,B,36,735-739,780-784,09Q3,NaN,NaN
4,4,54734,22640.008078,604.690353,224.409647,0.0,829.1,829.1,JAN2010,Current,...,NaN,< 1 year,1,B,36,735-739,800-804,09Q3,NaN,NaN

# Loop chunk CSV files into 30 dataframes within a large dict file d{}

In [ ]:
d = {}
for i in range(0,1):
    d[i] = pd.read_csv("chunk" + str(i) + ".csv", low_memory=False)

## Once d is created the DataFrame for company x can be retrieved as d[x], so you can look up a specific company quite easily. To operate on all companies you would typically use a loop like:
# for name, df in d.items():
    # operate on DataFrame df for company name

# Concatenate 5 dataframes (subset of 30) into one dataframe

In [42]:
import glob

path =r'/Users/Greer/Desktop/Lending Club - From Misha/Payments/chunks_subset' # use your path 
allFiles = glob.glob(path + "/*.csv")
frame = pd.DataFrame()
list_ = []
for file_ in allFiles:
    df = pd.read_csv(file_,index_col=None, header=0, low_memory=False)
    list_.append(df)
frame = pd.concat(list_)

In [43]:
len(frame)
# 2,500,000

2500000

In [44]:
frame.drop(frame.columns[[0]], axis=1, inplace=True)
frame.head()

,LOAN_ID,PBAL_BEG_PERIOD,PRNCP_PAID,INT_PAID,FEE_PAID,DUE_AMT,RECEIVED_AMT,RECEIVED_D,PERIOD_END_LSTAT,MONTH,...,MonthsSinceLastRec,EmploymentLength,currentpolicy,grade,term,APPL_FICO_BAND,Last_FICO_BAND,VINTAGE,PCO_RECOVERY,PCO_COLLECTION_FEE
0,54734,25000.000000,581.297917,247.802083,0.0,829.1,829.1,SEP2009,Current,SEP2009,...,NaN,< 1 year,1,B,36,735-739,755-759,09Q3,NaN,NaN
1,54734,24418.702083,587.059790,242.040210,0.0,829.1,829.1,OCT2009,Current,OCT2009,...,NaN,< 1 year,1,B,36,735-739,755-759,09Q3,NaN,NaN
2,54734,23831.642293,592.878776,236.221224,0.0,829.1,829.1,NOV2009,Current,NOV2009,...,NaN,< 1 year,1,B,36,735-739,785-789,09Q3,NaN,NaN
3,54734,23238.763518,598.755439,230.344561,0.0,829.1,829.1,DEC2009,Current,DEC2009,...,NaN,< 1 year,1,B,36,735-739,780-784,09Q3,NaN,NaN
4,54734,22640.008078,604.690353,224.409647,0.0,829.1,829.1,JAN2010,Current,JAN2010,...,NaN,< 1 year,1,B,36,735-739,800-804,09Q3,NaN,NaN

In [45]:
df = frame
df.reset_index
list(df)

['LOAN_ID',
 'PBAL_BEG_PERIOD',
 'PRNCP_PAID',
 'INT_PAID',
 'FEE_PAID',
 'DUE_AMT',
 'RECEIVED_AMT',
 'RECEIVED_D',
 'PERIOD_END_LSTAT',
 'MONTH',
 'PBAL_END_PERIOD',
 'MOB',
 'CO',
 'COAMT',
 'InterestRate',
 'IssuedDate',
 'MONTHLYCONTRACTAMT',
 'dti',
 'State',
 'HomeOwnership',
 'MonthlyIncome',
 'EarliestCREDITLine',
 'OpenCREDITLines',
 'TotalCREDITLines',
 'RevolvingCREDITBalance',
 'RevolvingLineUtilization',
 'Inquiries6M',
 'DQ2yrs',
 'MonthsSinceDQ',
 'PublicRec',
 'MonthsSinceLastRec',
 'EmploymentLength',
 'currentpolicy',
 'grade',
 'term',
 'APPL_FICO_BAND',
 'Last_FICO_BAND',
 'VINTAGE',
 'PCO_RECOVERY',
 'PCO_COLLECTION_FEE']

In [38]:
df.iloc[:4,:10]

,Unnamed: 0,LOAN_ID,PBAL_BEG_PERIOD,PRNCP_PAID,INT_PAID,FEE_PAID,DUE_AMT,RECEIVED_AMT,PBAL_END_PERIOD,MOB
0,0,54734,25000.000000,581.297917,247.802083,0.0,829.1,829.1,24418.702083,1
1,1,54734,24418.702083,587.059790,242.040210,0.0,829.1,829.1,23831.642293,2
2,2,54734,23831.642293,592.878776,236.221224,0.0,829.1,829.1,23238.763518,3
3,3,54734,23238.763518,598.755439,230.344561,0.0,829.1,829.1,22640.008078,4

In [13]:
df.iloc[:4,11:22]

,COAMT,InterestRate,MONTHLYCONTRACTAMT,dti,HomeOwnership,MonthlyIncome,EarliestCREDITLine,OpenCREDITLines,TotalCREDITLines,RevolvingCREDITBalance,RevolvingLineUtilization
0,0.0,0.1189,829.1,19.48,RENT,7083.333333,FEB1994,10.0,42.0,28854,0.521
1,0.0,0.1189,829.1,19.48,RENT,7083.333333,FEB1994,10.0,42.0,28854,0.521
2,0.0,0.1189,829.1,19.48,RENT,7083.333333,FEB1994,10.0,42.0,28854,0.521
3,0.0,0.1189,829.1,19.48,RENT,7083.333333,FEB1994,10.0,42.0,28854,0.521

In [40]:
df.iloc[:4,23:30]

,DQ2yrs,MonthsSinceDQ,PublicRec,MonthsSinceLastRec,EmploymentLength,currentpolicy,term
0,0.0,NaN,0.0,NaN,1,1,36
1,0.0,NaN,0.0,NaN,1,1,36
2,0.0,NaN,0.0,NaN,1,1,36
3,0.0,NaN,0.0,NaN,1,1,36

In [50]:
df.iloc[:4,31:42]

,EmploymentLength,currentpolicy,grade,term,APPL_FICO_BAND,Last_FICO_BAND,VINTAGE,PCO_RECOVERY,PCO_COLLECTION_FEE
0,1,1,B,36,735-739,755-759,09Q3,NaN,NaN
1,1,1,B,36,735-739,755-759,09Q3,NaN,NaN
2,1,1,B,36,735-739,785-789,09Q3,NaN,NaN
3,1,1,B,36,735-739,780-784,09Q3,NaN,NaN

In [49]:
df.EmploymentLength.value_counts()

10    643668
1     430681
2     250390
3     217003
5     209194
4     200699
6     157821
7     127451
8     100809
9      83840
0      78444
Name: EmploymentLength, dtype: int64

In [48]:
df.replace('n/a', np.nan,inplace=True)
df.EmploymentLength.fillna(value=0,inplace=True)
df['EmploymentLength'].replace(to_replace='[^0-9]+', value='', inplace=True, regex=True)
df['EmploymentLength'] = df['EmploymentLength'].astype(int)

In [51]:
## Examine distribution of delinquency
df.DQ2yrs.value_counts()

0.0     2212465
1.0      213703
2.0       47973
3.0       15118
4.0        5134
5.0        2382
6.0         893
7.0         786
8.0         218
9.0         152
10.0        127
11.0        125
13.0         37
18.0         32
12.0         22
Name: DQ2yrs, dtype: int64

In [17]:
## Convert APPL_FICO_BAND to average

n = len(df)-1
APPL_FICO_avg = []
for i in range(0,n):
    if i % 100000 == 0:
        print("evaluating row %d" %i)
    string = df.iloc[i]['APPL_FICO_BAND']
    j = int(string.split(" ")[0].split("-")[0])
    k = int(string.split("-")[0].split(" ")[0])
#     APPL_low = int(string.split(" ")[0].split("-")[0])
#     APPL_high = int(string.split("-")[1].split(" ")[0])
    APPL_FICO_avg.append((j+k)//2)

evaluating row 0
evaluating row 100000
evaluating row 200000
evaluating row 300000
evaluating row 400000
evaluating row 500000
evaluating row 600000
evaluating row 700000
evaluating row 800000
evaluating row 900000
evaluating row 1000000
evaluating row 1100000
evaluating row 1200000
evaluating row 1300000
evaluating row 1400000
evaluating row 1500000
evaluating row 1600000
evaluating row 1700000
evaluating row 1800000
evaluating row 1900000
evaluating row 2000000
evaluating row 2100000
evaluating row 2200000
evaluating row 2300000
evaluating row 2400000

In [88]:
APPL_FICO_avg.insert(0,0)
len(APPL_FICO_avg)

2500000

In [101]:
## Check APPL_FICO_avg[10588:10600]
APPL_FICO_avg[0:15]

[735, 735, 735, 735, 735, 735, 735, 735, 735, 735, 735, 735, 735, 735, 735]

In [104]:
## Replace appl FICO band in dataframe with average calculated above
df['APPL_FICO_BAND'][0:n] = APPL_FICO_avg

In [105]:
df['APPL_FICO_BAND'][2499990:2500000]
df['APPL_FICO_BAND'][0:15]

0     735
1     735
2     735
3     735
4     735
5     735
6     735
7     735
8     735
9     735
10    735
11    735
12    735
13    735
14    735
Name: APPL_FICO_BAND, dtype: int64

In [107]:
df.iloc[:15,31:42]

,EmploymentLength,currentpolicy,grade,term,APPL_FICO_BAND,Last_FICO_BAND,VINTAGE,PCO_RECOVERY,PCO_COLLECTION_FEE
0,1,1,B,36,735,755-759,09Q3,NaN,NaN
1,1,1,B,36,735,755-759,09Q3,NaN,NaN
2,1,1,B,36,735,785-789,09Q3,NaN,NaN
3,1,1,B,36,735,780-784,09Q3,NaN,NaN
4,1,1,B,36,735,800-804,09Q3,NaN,NaN
5,1,1,B,36,735,745-749,09Q3,NaN,NaN
6,1,1,B,36,735,745-749,09Q3,NaN,NaN
7,1,1,B,36,735,745-749,09Q3,NaN,NaN
8,1,1,B,36,735,745-749,09Q3,NaN,NaN
9,1,1,B,36,735,775-779,09Q3,NaN,NaN
10,1,1,B,36,735,785-789,09Q3,NaN,NaN
11,1,1,B,36,735,775-779,09Q3,NaN,NaN
12,1,1,B,36,735,790-794,09Q3,NaN,NaN
13,1,1,B,36,735,760-764,09Q3,NaN,NaN
14,1,1,B,36,735,755-759,09Q3,NaN,NaN

In [29]:
## Count occurrences of every potential value of Last_FICO_BAND, note that some are "MISSING"

import collections
print(collections.Counter(line.rstrip().rpartition('    ')[-1] for line in df.Last_FICO_BAND))

Counter({'690-694': 108070, '695-699': 106841, '700-704': 104151, '705-709': 101481, '685-689': 100710, '680-684': 100073, '710-714': 92929, '715-719': 91535, '675-679': 88671, '720-724': 86016, '670-674': 83270, '725-729': 76641, '730-734': 72321, '665-669': 71772, '735-739': 63763, '660-664': 62803, '740-744': 60198, '750-754': 51910, '745-749': 51862, '655-659': 51756, '755-759': 46932, 'MISSING': 45934, '650-654': 43801, '760-764': 42303, '765-769': 40318, '645-649': 38579, '770-774': 35637, '775-779': 34819, '640-644': 33304, '780-784': 31216, '635-639': 28111, '630-634': 26081, '785-789': 25182, '790-794': 24538, '625-629': 22805, '620-624': 21831, '795-799': 20801, '615-619': 18701, '610-614': 17644, '800-804': 17610, 'LOW-499': 15645, '605-609': 15522, '600-604': 14696, '805-809': 14089, '590-594': 13283, '595-599': 13209, '580-584': 11769, '585-589': 11611, '570-574': 10468, '810-814': 10391, '575-579': 10278, '565-569': 9455, '560-564': 9299, '815-819': 8719, '555-559': 8595, '550-554': 8392, '545-549': 7675, '540-544': 7601, '535-539': 6878, '530-534': 6306, '820-824': 5926, '525-529': 5787, '520-524': 5658, '515-519': 4811, '510-514': 4493, '825-829': 4317, '505-509': 3782, '500-504': 3499, '830-834': 2606, '835-839': 1323, '840-844': 771, '845-HIGH': 226})

In [109]:
## Convert Last_FICO_BAND to average

n = len(df)-1
Last_FICO_avg = []
for i in range(0,2500):
#     if i % 100000 == 0:
#         print("evaluating row %d" %i)
    string = df.iloc[i]['Last_FICO_BAND']
    if string == 'MISSING':
        Last_FICO_avg.append(0)
    j = int(string.split(" ")[0].split("-")[0])
    k = int(string.split("-")[0].split(" ")[0])
    if j == 'LOW':
        j == 300
    if k == 'HIGH':
        k == 850
    Last_FICO_avg.append((j+k)//2)
Last_FICO_avg

[755,
 755,
 785,
 780,
 800,
 745,
 745,
 745,
 745,
 775,
 785,
 775,
 790,
 760,
 755,
 755,
 755,
 775,
 765,
 765]

In [31]:
## Drop Last_FICO since it is messy data with many missing
# df.drop('Last_FICO_BAND', axis=1, inplace=True)

In [ ]:
## Convert Earliest Credit Line to number of years
from datetime import datetime

datetime.datetime.strptime(EarliestCREDITLine, format1).strftime(format2)


# df.EarliestCREDITLine = pd.to_datetime(df.EarliestCREDITLine)
# dttoday = datetime.now().strftime('%Y-%m-%d')
# # There is a better way to do this :) 
# df.EarliestCREDITLine = df.EarliestCREDITLine.apply(lambda x: (
#         np.timedelta64((x - pd.Timestamp(dttoday)),'D').astype(int))/-365)
# df.EarliestCREDITLine.head()

In [54]:
df.iloc[0:5]['EarliestCREDITLine']

0   1994-02-01
1   1994-02-01
2   1994-02-01
3   1994-02-01
4   1994-02-01
Name: EarliestCREDITLine, dtype: datetime64[ns]

In [13]:
RECEIVED_D
IssuedDate

,RevolvingLineUtilization,Inquiries6M,DQ2yrs,MonthsSinceDQ,PublicRec,MonthsSinceLastRec,EmploymentLength,currentpolicy,grade
0,0.521,0.0,0.0,NaN,0,NaN,< 1 year,1,B
1,0.521,0.0,0.0,NaN,0,NaN,< 1 year,1,B
2,0.521,0.0,0.0,NaN,0,NaN,< 1 year,1,B
3,0.521,0.0,0.0,NaN,0,NaN,< 1 year,1,B

In [36]:
## Drop some string vars
df.drop(['RECEIVED_D', 'PERIOD_END_LSTAT', 'MONTH', 'IssuedDate', 'State', 'VINTAGE', 'grade'], axis=1, inplace=True)

/Users/Greer/anaconda3/lib/python3.5/site-packages/numpy/lib/arraysetops.py:379: FutureWarning: elementwise comparison failed; returning scalar instead, but in the future will perform elementwise comparison
  mask |= (ar1 == a)

In [ ]:
## Fill in NaN in any existing place
df.fillna(0.0,inplace=True)
df.fillna(0,inplace=True)

In [29]:
df.to_csv("LC_subset.csv")

4