In [1]:
import os
os.chdir(r"/Users/Greer/Desktop/Lending Club - JL")

import numpy as np
import pandas as pd
import seaborn as sns

# Import user-input LC_Database

In [3]:
df1 = pd.read_csv("primaryMarketNotes-browseNotes_1-RETAIL.csv", low_memory=False)
df1.head()

,id,member_id,loan_amnt,funded_amnt,term,int_rate,exp_default_rate,service_fee_rate,installment,grade,...,il_util,open_rv_12m,open_rv_24m,max_bal_bc,all_util,inq_fi,total_cu_tl,inq_last_12m,mtg_payment,housing_payment
0,97425796,104641520,7000.0,6975.0,36,17.99,9.49,1.10,253.04,D,...,56.0,0,1,1966.0,56.9,1,0,1,0.00,
1,97396029,104611755,5600.0,5575.0,36,5.32,1.79,0.78,168.65,A,...,70.2,0,0,7659.0,45.0,0,68,1,0.00,771
2,96431465,103543187,10475.0,5200.0,36,8.24,2.10,0.85,329.41,B,...,86.0,0,2,0.0,68.2,1,3,4,2276.17,1705
3,96817196,103962924,6000.0,2650.0,36,8.24,1.83,0.85,188.69,B,...,93.7,1,2,4951.0,74.6,3,0,8,950.16,950
4,96619798,103765540,5600.0,3650.0,36,23.99,14.40,1.11,219.68,E,...,86.8,1,3,4279.0,65.5,4,2,4,1701.00,0

In [4]:
df1.reset_index;

In [ ]:
temp = df1[['id','loan_amnt', 'int_rate', 'term', 'emp_length', 'annual_inc', 'dti',
       'open_acc', 'revol_bal', 'revol_util', 'inq_last_6mths',
       'acc_now_delinq', 'delinq_amnt', 'delinq_2yrs',
       'mths_since_last_delinq', 'pub_rec', 'mths_since_last_major_derog',
       'collections_12_mths_ex_med', 'addr_state', 'home_ownership', 'purpose',
       'earliest_cr_line']]

# Troubleshoot!!

In [4]:
# problem with id = 97396029

### Extract relevant X_test row from input data, using Loan_ID

In [5]:
# Take out relevant row from data
df = temp.loc[temp['id'] == 97396029]

### Drop loan_id

In [6]:
df.drop('id', axis=1, inplace=True)

/Users/Greer/anaconda3/lib/python3.5/site-packages/ipykernel/__main__.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  if __name__ == '__main__':

## Ensure all data is in float form

In [7]:
df.dtypes

loan_amnt                      float64
int_rate                       float64
term                             int64
emp_length                      object
annual_inc                     float64
dti                            float64
open_acc                         int64
revol_bal                      float64
revol_util                     float64
inq_last_6mths                   int64
acc_now_delinq                   int64
delinq_amnt                    float64
delinq_2yrs                      int64
mths_since_last_delinq          object
pub_rec                          int64
mths_since_last_major_derog     object
collections_12_mths_ex_med       int64
addr_state                      object
home_ownership                  object
purpose                         object
earliest_cr_line                object
dtype: object

# Convert all non-numeric vars

### Employment Length

In [8]:
df.replace('n/a', np.nan,inplace=True)
df.emp_length.fillna(value=0,inplace=True)
df['emp_length'].replace(to_replace='[^0-9]+', value='', inplace=True, regex=True)
df['emp_length'] = df['emp_length'].astype(int)
df['emp_length'].value_counts()

/Users/Greer/anaconda3/lib/python3.5/site-packages/ipykernel/__main__.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  if __name__ == '__main__':
/Users/Greer/anaconda3/lib/python3.5/site-packages/pandas/core/generic.py:3191: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  self._update_inplace(new_data)
/Users/Greer/anaconda3/lib/python3.5/site-packages/pandas/core/generic.py:3443: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  self._update_inplace(new_data)
/Users/Greer/anaconda3/lib/python3.5/site-packages/ipykernel/__main__.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

0    1
Name: emp_length, dtype: int64

### Convert object vars to numeric

In [9]:
## Revolving utilization
df['revol_util'] = df['revol_util'].apply(pd.to_numeric, args=('coerce',))

## Mths_since_last_delinq
df['mths_since_last_delinq'] = df['mths_since_last_delinq'].convert_objects(convert_numeric=True)

# mths_since_last_major_derog
df['mths_since_last_major_derog'] = df['mths_since_last_major_derog'].apply(pd.to_numeric, args=('coerce',))

/Users/Greer/anaconda3/lib/python3.5/site-packages/ipykernel/__main__.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  from ipykernel import kernelapp as app
/Users/Greer/anaconda3/lib/python3.5/site-packages/ipykernel/__main__.py:5: FutureWarning: convert_objects is deprecated.  Use the data-type specific converters pd.to_datetime, pd.to_timedelta and pd.to_numeric.
/Users/Greer/anaconda3/lib/python3.5/site-packages/ipykernel/__main__.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
/Users/Greer/anaconda3/lib/python3.5/site-packages/ipykernel/__main__.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

### Convert some vars to categorical

In [10]:
# state
df['state'] = pd.Categorical.from_array(df.addr_state).codes
# homeownership
df['HomeOwnCat'] = pd.Categorical.from_array(df.home_ownership).codes
# purpose
df['Purpose'] = pd.Categorical.from_array(df.purpose).codes

df.drop(['addr_state','home_ownership','purpose'], axis=1, inplace=True)

/Users/Greer/anaconda3/lib/python3.5/site-packages/ipykernel/__main__.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  from ipykernel import kernelapp as app
/Users/Greer/anaconda3/lib/python3.5/site-packages/ipykernel/__main__.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
/Users/Greer/anaconda3/lib/python3.5/site-packages/ipykernel/__main__.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
/Users/Greer/anaconda3/lib/python3.5/site-packages/ipykernel/__main__.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

### Convert earliest credit to # months

In [11]:
# Format ex: 12-18-2003 16:00:00

from datetime import datetime

df['earliest_cr_line'] =  pd.to_datetime(df['earliest_cr_line'], format='%m-%d-%Y %H:%M:%S')

def diff_month(d1, d2):
    return (d1.year - d2.year)*12 + d1.month - d2.month

n = len(df)
d2 = pd.datetime.now()
CreditMonths = []

for i in range(0,n):
    d1 = df['earliest_cr_line'].iloc[i]
    diff = diff_month(d2,d1)
    CreditMonths.append(diff)
    
df['EarliestCreditMonths'] = pd.Series(CreditMonths, index=df.index)
df.drop('earliest_cr_line', axis=1, inplace=True)

/Users/Greer/anaconda3/lib/python3.5/site-packages/ipykernel/__main__.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
/Users/Greer/anaconda3/lib/python3.5/site-packages/ipykernel/__main__.py:19: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
/Users/Greer/anaconda3/lib/python3.5/site-packages/ipykernel/__main__.py:20: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

# Predict using RFC model previously calibrated

In [12]:
df.fillna(0.0,inplace=True)
df.fillna(0,inplace=True)

/Users/Greer/anaconda3/lib/python3.5/site-packages/pandas/core/frame.py:2762: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  downcast=downcast, **kwargs)

## Keep troubleshooting step!

In [26]:
df.iloc[0]

loan_amnt                       5600.00
int_rate                           5.32
term                              36.00
emp_length                         0.00
annual_inc                     31600.00
dti                               16.98
open_acc                           9.00
revol_bal                       7676.00
revol_util                        37.30
inq_last_6mths                     1.00
acc_now_delinq                     0.00
delinq_amnt                        0.00
delinq_2yrs                        0.00
mths_since_last_delinq             0.00
pub_rec                            0.00
mths_since_last_major_derog        0.00
collections_12_mths_ex_med         0.00
state                              0.00
HomeOwnCat                         0.00
Purpose                            0.00
EarliestCreditMonths             330.00
Name: 1, dtype: float64

In [24]:
df.columns

Index(['loan_amnt', 'int_rate', 'term', 'emp_length', 'annual_inc', 'dti',
       'open_acc', 'revol_bal', 'revol_util', 'inq_last_6mths',
       'acc_now_delinq', 'delinq_amnt', 'delinq_2yrs',
       'mths_since_last_delinq', 'pub_rec', 'mths_since_last_major_derog',
       'collections_12_mths_ex_med', 'state', 'HomeOwnCat', 'Purpose',
       'EarliestCreditMonths'],
      dtype='object')

In [22]:
######## Try to fill the empty cells

def recode_empty_cells(dataframe, list_of_columns):

    for column in list_of_columns:
      dataframe[column] = dataframe[column].replace(r'\s+', np.nan, regex=True)
      dataframe[column] = dataframe[column].fillna(0)

    return dataframe

In [25]:
recode_empty_cells(df,df.columns)

/Users/Greer/anaconda3/lib/python3.5/site-packages/ipykernel/__main__.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
/Users/Greer/anaconda3/lib/python3.5/site-packages/ipykernel/__main__.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

,loan_amnt,int_rate,term,emp_length,annual_inc,dti,open_acc,revol_bal,revol_util,inq_last_6mths,...,delinq_amnt,delinq_2yrs,mths_since_last_delinq,pub_rec,mths_since_last_major_derog,collections_12_mths_ex_med,state,HomeOwnCat,Purpose,EarliestCreditMonths
1,5600.0,5.32,36,0,31600.0,16.98,9,7676.0,37.3,1,...,0.0,0,0.0,0,0.0,0,0,0,0,330

In [27]:
X_test = df

In [28]:
######### OPEN SAVED RF MODEL WITH PICKLE (Only needed if kernel died) #########
import pickle
import _pickle

with open('RandomForest_LCdb.cpickle', 'rb') as f:
    rf = pickle.load(f)

pred = rf.predict(X_test)
prob = rf.predict_proba(X_test)

In [29]:
###### Quick check of results
pred[0:1]
prob[0]
# Note: for prob, the second column is for default

array([ 0.93,  0.07])

In [ ]:
output = prob[0]
output[0]

In [120]:
df.dtypes

loan_amnt                      float64
int_rate                       float64
term                             int64
emp_length                       int64
annual_inc                     float64
dti                            float64
open_acc                         int64
revol_bal                      float64
revol_util                     float64
inq_last_6mths                   int64
acc_now_delinq                   int64
delinq_amnt                    float64
delinq_2yrs                      int64
mths_since_last_delinq           int64
pub_rec                          int64
mths_since_last_major_derog      int64
collections_12_mths_ex_med       int64
state                             int8
HomeOwnCat                        int8
Purpose                           int8
EarliestCreditMonths             int64
dtype: object