In [4]:
import os
os.chdir(r"/Users/Greer/Desktop/Prosper Data - From Misha/Loans")

In [ ]:
##### IMPORT ONE CSV
import numpy as np
import pandas as pd
import seaborn as sns

df1 = pd.read_csv("Loans_20050101to20130101_20170119T060004.csv", low_memory=False)
len(df1)

In [9]:
list(df1)

['loan_number',
 'amount_borrowed',
 'borrower_rate',
 'prosper_rating',
 'term',
 'age_in_months',
 'origination_date',
 'days_past_due',
 'principal_balance',
 'service_fees_paid',
 'principal_paid',
 'interest_paid',
 'prosper_fees_paid',
 'late_fees_paid',
 'debt_sale_proceeds_received',
 'loan_status',
 'loan_status_description',
 'loan_default_reason',
 'loan_default_reason_description',
 'next_payment_due_date',
 'next_payment_due_amount']

In [8]:
df1.head()

,loan_number,amount_borrowed,borrower_rate,prosper_rating,term,age_in_months,origination_date,days_past_due,principal_balance,service_fees_paid,...,interest_paid,prosper_fees_paid,late_fees_paid,debt_sale_proceeds_received,loan_status,loan_status_description,loan_default_reason,loan_default_reason_description,next_payment_due_date,next_payment_due_amount
0,1,1000.0,0.0400,NaN,36,134,2005-11-15 00:00:00,0,0.0,-0.88,...,0.89,0.0,0.0,0.0,4,COMPLETED,NaN,NaN,2008-11-15 00:00:00,0.0
1,2,1000.0,0.1200,NaN,36,134,2005-11-18 00:00:00,0,0.0,-0.42,...,3.95,0.0,0.0,0.0,4,COMPLETED,NaN,NaN,2008-11-18 00:00:00,0.0
2,3,2000.0,0.1300,NaN,36,134,2005-11-22 00:00:00,0,0.0,-1.68,...,33.90,0.0,0.0,0.0,4,COMPLETED,NaN,NaN,2008-11-22 00:00:00,0.0
3,4,2500.0,0.2500,NaN,36,134,2005-11-22 00:00:00,0,0.0,-2.08,...,76.56,0.0,0.0,0.0,4,COMPLETED,NaN,NaN,2008-11-22 00:00:00,0.0
4,5,1000.0,0.0435,NaN,36,134,2005-11-23 00:00:00,0,0.0,-0.42,...,0.72,0.0,0.0,0.0,4,COMPLETED,NaN,NaN,2008-11-23 00:00:00,0.0

In [ ]:
df1 = pd.read_csv("Loans_20050101to20130101_20170119T060004.csv",skiprows=1, low_memory=False)
df1.info()
len(df1)
# 3a: 42538 observations, 111 columns/attributes

df2 = pd.read_csv("Loans_20130101to20140101_20170119T060011.csv",skiprows=1, low_memory=False)
df2.head()
len(df2)
# 3b: 188183 observations, 111 columns/attributes

df3 = pd.read_csv("Loans_20140101to20150101_20170119T060015.csv",skiprows=1, low_memory=False)
df3.head()
len(df3)
# 3c: 235631 observations, 111 columns/attributes

df4 = pd.read_csv("Loans_20150101to20160101_20170119T060026.csv",skiprows=1, low_memory=False)
df4.head()
len(df4)
# 3d: 421097 observations, 111 columns/attributes

df5 = pd.read_csv("Loans_20160101toCurrent_20170119T060047.csv",skiprows=1, low_memory=False)
df5.head()
len(df5)
# 2016Q1: 133889 observations, 111 columns/attributes

In [ ]:
df = df1.append([df2, df3, df4, df5])

len(df)

### Write combined dataframe to CSV
df.to_csv('Prosper-AllLoans.csv')