In [1]:
import os
os.chdir(r"/Users/Greer/Desktop/Lending Club - From Misha/Payments")

import numpy as np
import pandas as pd
import seaborn as sns

# Import PMTHIST_all_20160715

In [2]:
import csv

## Check the attributes list
with open('PMTHIST_all_20160715.csv', newline='') as f:
  reader = csv.reader(f)
  row1 = next(reader)
    
print(row1)

['LOAN_ID', 'PBAL_BEG_PERIOD', 'PRNCP_PAID', 'INT_PAID', 'FEE_PAID', 'DUE_AMT', 'RECEIVED_AMT', 'RECEIVED_D', 'PERIOD_END_LSTAT', 'MONTH', 'PBAL_END_PERIOD', 'MOB', 'CO', 'COAMT', 'InterestRate', 'IssuedDate', 'MONTHLYCONTRACTAMT', 'dti', 'State', 'HomeOwnership', 'MonthlyIncome', 'EarliestCREDITLine', 'OpenCREDITLines', 'TotalCREDITLines', 'RevolvingCREDITBalance', 'RevolvingLineUtilization', 'Inquiries6M', 'DQ2yrs', 'MonthsSinceDQ', 'PublicRec', 'MonthsSinceLastRec', 'EmploymentLength', 'currentpolicy', 'grade', 'term', 'APPL_FICO_BAND', 'Last_FICO_BAND', 'VINTAGE', 'PCO_RECOVERY', 'PCO_COLLECTION_FEE']

In [4]:
data = pd.read_csv("PMTHIST_all_20160715.csv", nrows=10000, low_memory=False)
data.head()

,LOAN_ID,PBAL_BEG_PERIOD,PRNCP_PAID,INT_PAID,FEE_PAID,DUE_AMT,RECEIVED_AMT,RECEIVED_D,PERIOD_END_LSTAT,MONTH,...,MonthsSinceLastRec,EmploymentLength,currentpolicy,grade,term,APPL_FICO_BAND,Last_FICO_BAND,VINTAGE,PCO_RECOVERY,PCO_COLLECTION_FEE
0,54734,25000.000000,581.297917,247.802083,0.0,829.1,829.1,SEP2009,Current,SEP2009,...,NaN,< 1 year,1,B,36,735-739,755-759,09Q3,NaN,NaN
1,54734,24418.702083,587.059790,242.040210,0.0,829.1,829.1,OCT2009,Current,OCT2009,...,NaN,< 1 year,1,B,36,735-739,755-759,09Q3,NaN,NaN
2,54734,23831.642293,592.878776,236.221224,0.0,829.1,829.1,NOV2009,Current,NOV2009,...,NaN,< 1 year,1,B,36,735-739,785-789,09Q3,NaN,NaN
3,54734,23238.763518,598.755439,230.344561,0.0,829.1,829.1,DEC2009,Current,DEC2009,...,NaN,< 1 year,1,B,36,735-739,780-784,09Q3,NaN,NaN
4,54734,22640.008078,604.690353,224.409647,0.0,829.1,829.1,JAN2010,Current,JAN2010,...,NaN,< 1 year,1,B,36,735-739,800-804,09Q3,NaN,NaN

# Splitting large csv into 30 chunks

In [45]:
for i,chunk in enumerate(pd.read_csv('PMTHIST_all_20160715.csv', chunksize=500000)):
    chunk.to_csv('chunk{}.csv'.format(i))

/Users/Greer/anaconda3/lib/python3.5/site-packages/IPython/core/interactiveshell.py:2717: DtypeWarning: Columns (29) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [52]:
os.chdir(r"/Users/Greer/Desktop/Lending Club - From Misha/Payments/chunks")
temp = pd.read_csv("chunk0.csv", low_memory=False)

In [53]:
temp.head()

,Unnamed: 0,LOAN_ID,PBAL_BEG_PERIOD,PRNCP_PAID,INT_PAID,FEE_PAID,DUE_AMT,RECEIVED_AMT,RECEIVED_D,PERIOD_END_LSTAT,...,MonthsSinceLastRec,EmploymentLength,currentpolicy,grade,term,APPL_FICO_BAND,Last_FICO_BAND,VINTAGE,PCO_RECOVERY,PCO_COLLECTION_FEE
0,0,54734,25000.000000,581.297917,247.802083,0.0,829.1,829.1,SEP2009,Current,...,NaN,< 1 year,1,B,36,735-739,755-759,09Q3,NaN,NaN
1,1,54734,24418.702083,587.059790,242.040210,0.0,829.1,829.1,OCT2009,Current,...,NaN,< 1 year,1,B,36,735-739,755-759,09Q3,NaN,NaN
2,2,54734,23831.642293,592.878776,236.221224,0.0,829.1,829.1,NOV2009,Current,...,NaN,< 1 year,1,B,36,735-739,785-789,09Q3,NaN,NaN
3,3,54734,23238.763518,598.755439,230.344561,0.0,829.1,829.1,DEC2009,Current,...,NaN,< 1 year,1,B,36,735-739,780-784,09Q3,NaN,NaN
4,4,54734,22640.008078,604.690353,224.409647,0.0,829.1,829.1,JAN2010,Current,...,NaN,< 1 year,1,B,36,735-739,800-804,09Q3,NaN,NaN

# Loop chunk CSV files into 30 dataframes within a large dict file d{}

In [ ]:
d = {}
for i in range(0,1):
    d[i] = pd.read_csv("chunk" + str(i) + ".csv", low_memory=False)

## Once d is created the DataFrame for company x can be retrieved as d[x], so you can look up a specific company quite easily. To operate on all companies you would typically use a loop like:
# for name, df in d.items():
    # operate on DataFrame df for company name

# Concatenate the 30 dataframes into one giant dataframe

In [3]:
import glob

path =r'/Users/Greer/Desktop/Lending Club - From Misha/Payments/chunks' # use your path 
allFiles = glob.glob(path + "/*.csv")
frame = pd.DataFrame()
list_ = []
for file_ in allFiles:
    df = pd.read_csv(file_,index_col=None, header=0, low_memory=False)
    list_.append(df)
frame = pd.concat(list_)

In [6]:
len(frame)

15376980

In [7]:
frame.drop(frame.columns[[0]], axis=1, inplace=True)
frame.head()

,LOAN_ID,PBAL_BEG_PERIOD,PRNCP_PAID,INT_PAID,FEE_PAID,DUE_AMT,RECEIVED_AMT,RECEIVED_D,PERIOD_END_LSTAT,MONTH,...,MonthsSinceLastRec,EmploymentLength,currentpolicy,grade,term,APPL_FICO_BAND,Last_FICO_BAND,VINTAGE,PCO_RECOVERY,PCO_COLLECTION_FEE
0,54734,25000.000000,581.297917,247.802083,0.0,829.1,829.1,SEP2009,Current,SEP2009,...,NaN,< 1 year,1,B,36,735-739,755-759,09Q3,NaN,NaN
1,54734,24418.702083,587.059790,242.040210,0.0,829.1,829.1,OCT2009,Current,OCT2009,...,NaN,< 1 year,1,B,36,735-739,755-759,09Q3,NaN,NaN
2,54734,23831.642293,592.878776,236.221224,0.0,829.1,829.1,NOV2009,Current,NOV2009,...,NaN,< 1 year,1,B,36,735-739,785-789,09Q3,NaN,NaN
3,54734,23238.763518,598.755439,230.344561,0.0,829.1,829.1,DEC2009,Current,DEC2009,...,NaN,< 1 year,1,B,36,735-739,780-784,09Q3,NaN,NaN
4,54734,22640.008078,604.690353,224.409647,0.0,829.1,829.1,JAN2010,Current,JAN2010,...,NaN,< 1 year,1,B,36,735-739,800-804,09Q3,NaN,NaN

In [4]:
df = frame
df.reset_index
# list(df)

<bound method DataFrame.reset_index of         Unnamed: 0  LOAN_ID  PBAL_BEG_PERIOD   PRNCP_PAID    INT_PAID  \
0                0    54734     25000.000000   581.297917  247.802083
1                1    54734     24418.702083   587.059790  242.040210
2                2    54734     23831.642293   592.878776  236.221224
3                3    54734     23238.763518   598.755439  230.344561
4                4    54734     22640.008078   604.690353  224.409647
5                5    54734     22035.317725   610.684094  218.415906
6                6    54734     21424.633631   616.737246  212.362754
7                7    54734     20807.896384   622.850397  206.249603
8                8    54734     20185.045987   629.024142  200.075858
9                9    54734     19556.021845   635.259082  193.840918
10              10    54734     18920.762764   641.555823  187.544177
11              11    54734     18279.206941   647.914978  181.185022
12              12    54734     17631.291963   654.337165  174.762835
13              13    54734     16976.954798   660.823009  168.276991
14              14    54734     16316.131789   667.373142  161.726858
15              15    54734     15648.758647   673.988200  155.111800
16              16    54734     14974.770447   680.668827  148.431173
17              17    54734     14294.101619  1516.515674  141.684326
18              18    54734     12777.585946   702.447503  126.652497
19              19    54734     12075.138443   777.890221  119.689779
20              20    54734     11297.248221   785.600734  111.979266
21              21    54734     10511.647487   793.387674  104.192326
22              22    54734      9718.259813   801.251799   96.328201
23              23    54734      8917.008014   809.193873   88.386127
24              24    54734      8107.814140   817.214671   80.365329
25              25    54734      7290.599470  7319.814971   72.265029
26              26    55521      1000.000000    21.800000   13.400000
27              27    55521       978.200000    22.092120   13.107880
28              28    55521       956.107880    22.388154   12.811846
29              29    55521       933.719726    22.688156   12.511844
...            ...      ...              ...          ...         ...
499970      499970  7276576     21224.517691   320.210623  302.449377
499971      499971  7276576     20904.307068   324.773624  297.886376
499972      499972  7276576     20579.533444   329.401648  293.258352
499973      499973  7276576     20250.131795   334.095622  288.564378
499974      499974  7276576     19916.036173   338.856485  283.803515
499975      499975  7276576     19577.179689   343.685189  278.974811
499976      499976  7276576     19233.494499   348.582703  274.077297
499977      499977  7276576     18884.911796   353.550007  269.109993
499978      499978  7276576     18531.361789   358.588095  264.071905
499979      499979  7276576     18172.773695   363.697975  258.962025
499980      499980  7276576     17809.075720   368.880671  253.779329
499981      499981  7276576     17440.195049   374.137221  248.522779
499982      499982  7276576     17066.057828   379.468676  243.191324
499983      499983  7276576     16686.589152   384.876105  237.783895
499984      499984  7276576     16301.713048   390.360589  232.299411
499985      499985  7276576     15911.352459   395.923227  226.736773
499986      499986  7276576     15515.429231   401.565133  221.094867
499987      499987  7276576     15113.864098   407.287437  215.372563
499988      499988  7276576     14706.576661   413.091283  209.568717
499989      499989  7276576     14293.485378   418.977833  203.682167
499990      499990  7276581     10000.000000   217.560000  135.000000
499991      499991  7276581      9782.440000   220.497060  132.062940
499992      499992  7276581      9561.942940   223.473770  129.086230
499993      499993  7276581      9338.469170   226.490666  126.069334
499994      499994  7276581      9111.978503   229.548290  123.011710
499995      499995  7276581      8882.430213   232.647192  119.912808
499996      499996  7276581      8649.783021   235.787929  116.772071
499997      499997  7276581      8413.995092   238.971066  113.588934
499998      499998  7276581      8175.024026   242.197176  110.362824
499999      499999  7276581      7932.826850   245.466838  107.093162

        FEE_PAID  DUE_AMT  RECEIVED_AMT RECEIVED_D PERIOD_END_LSTAT  \
0            0.0   829.10        829.10    SEP2009          Current
1            0.0   829.10        829.10    OCT2009          Current
2            0.0   829.10        829.10    NOV2009          Current
3            0.0   829.10        829.10    DEC2009          Current
4            0.0   829.10        829.10    JAN2010          Current
5            0.0   829.10        829.10    FEB2010          Current
6            0.0   829.10        829.10    MAR2010          Current
7            0.0   829.10        829.10    APR2010          Current
8            0.0   829.10        829.10    MAY2010          Current
9            0.0   829.10        829.10    JUN2010          Current
10           0.0   829.10        829.10    JUL2010          Current
11           0.0   829.10        829.10    AUG2010          Current
12           0.0   829.10        829.10    SEP2010          Current
13           0.0   829.10        829.10    OCT2010          Current
14           0.0   829.10        829.10    NOV2010          Current
15           0.0   829.10        829.10    DEC2010          Current
16           0.0   829.10        829.10    JAN2011          Current
17           0.0   829.10       1658.20    FEB2011          Current
18           0.0   829.10        829.10    MAR2011          Current
19           0.0   829.10        897.58    APR2011          Current
20           0.0   829.10        897.58    MAY2011          Current
21           0.0   829.10        897.58    JUN2011          Current
22           0.0   829.10        897.58    JUL2011          Current
23           0.0   829.10        897.58    AUG2011          Current
24           0.0   829.10        897.58    SEP2011          Current
25           0.0   829.10       7392.08    OCT2011       Fully Paid
26           0.0    35.20         35.20    AUG2008          Current
27           0.0    35.20         35.20    SEP2008          Current
28           0.0    35.20         35.20    OCT2008          Current
29           0.0    35.20         35.20    NOV2008          Current
...          ...      ...           ...        ...              ...
499970       0.0   622.66        622.66    NOV2014          Current
499971       0.0   622.66        622.66    DEC2014          Current
499972       0.0   622.66        622.66    JAN2015          Current
499973       0.0   622.66        622.66    FEB2015          Current
499974       0.0   622.66        622.66    MAR2015          Current
499975       0.0   622.66        622.66    APR2015          Current
499976       0.0   622.66        622.66    MAY2015          Current
499977       0.0   622.66        622.66    JUN2015          Current
499978       0.0   622.66        622.66    JUL2015          Current
499979       0.0   622.66        622.66    AUG2015          Current
499980       0.0   622.66        622.66    SEP2015          Current
499981       0.0   622.66        622.66    OCT2015          Current
499982       0.0   622.66        622.66    NOV2015          Current
499983       0.0   622.66        622.66    DEC2015          Current
499984       0.0   622.66        622.66    JAN2016          Current
499985       0.0   622.66        622.66    FEB2016          Current
499986       0.0   622.66        622.66    MAR2016          Current
499987       0.0   622.66        622.66    APR2016          Current
499988       0.0   622.66        622.66    MAY2016          Current
499989       0.0   622.66        622.66    JUN2016          Current
499990       0.0   352.56        352.56    OCT2013          Current
499991       0.0   352.56        352.56    NOV2013          Current
499992       0.0   352.56        352.56    DEC2013          Current
499993       0.0   352.56        352.56    JAN2014          Current
499994       0.0   352.56        352.56    FEB2014          Current
499995       0.0   352.56        352.56    MAR2014          Current
499996       0.0   352.56        352.56    APR2014          Current
499997       0.0   352.56        352.56    MAY2014          Current
499998       0.0   352.56        352.56    JUN2014          Current
499999       0.0   352.56        352.56    JUL2014          Current

              ...         MonthsSinceLastRec  EmploymentLength  currentpolicy  \
0             ...                        NaN          < 1 year              1
1             ...                        NaN          < 1 year              1
2             ...                        NaN          < 1 year              1
3             ...                        NaN          < 1 year              1
4             ...                        NaN          < 1 year              1
5             ...                        NaN          < 1 year              1
6             ...                        NaN          < 1 year              1
7             ...                        NaN          < 1 year              1
8             ...                        NaN          < 1 year              1
9             ...                        NaN          < 1 year              1
10            ...                        NaN          < 1 year              1
11            ...                        NaN          < 1 year              1
12            ...                        NaN          < 1 year              1
13            ...                        NaN          < 1 year              1
14            ...                        NaN          < 1 year              1
15            ...                        NaN          < 1 year              1
16            ...                        NaN          < 1 year              1
17            ...                        NaN          < 1 year              1
18            ...                        NaN          < 1 year              1
19            ...                        NaN          < 1 year              1
20            ...                        NaN          < 1 year              1
21            ...                        NaN          < 1 year              1
22            ...                        NaN          < 1 year              1
23            ...                        NaN          < 1 year              1
24            ...                        NaN          < 1 year              1
25            ...                        NaN          < 1 year              1
26            ...                        NaN          < 1 year              0
27            ...                        NaN          < 1 year              0
28            ...                        NaN          < 1 year              0
29            ...                        NaN          < 1 year              0
...           ...                        ...               ...            ...
499970        ...                        NaN         10+ years              1
499971        ...                        NaN         10+ years              1
499972        ...                        NaN         10+ years              1
499973        ...                        NaN         10+ years              1
499974        ...                        NaN         10+ years              1
499975        ...                        NaN         10+ years              1
499976        ...                        NaN         10+ years              1
499977        ...                        NaN         10+ years              1
499978        ...                        NaN         10+ years              1
499979        ...                        NaN         10+ years              1
499980        ...                        NaN         10+ years              1
499981        ...                        NaN         10+ years              1
499982        ...                        NaN         10+ years              1
499983        ...                        NaN         10+ years              1
499984        ...                        NaN         10+ years              1
499985        ...                        NaN         10+ years              1
499986        ...                        NaN         10+ years              1
499987        ...                        NaN         10+ years              1
499988        ...                        NaN         10+ years              1
499989        ...                        NaN         10+ years              1
499990        ...                        NaN          < 1 year              1
499991        ...                        NaN          < 1 year              1
499992        ...                        NaN          < 1 year              1
499993        ...                        NaN          < 1 year              1
499994        ...                        NaN          < 1 year              1
499995        ...                        NaN          < 1 year              1
499996        ...                        NaN          < 1 year              1
499997        ...                        NaN          < 1 year              1
499998        ...                        NaN          < 1 year              1
499999        ...                        NaN          < 1 year              1

        grade  term  APPL_FICO_BAND Last_FICO_BAND  VINTAGE  PCO_RECOVERY  \
0           B    36         735-739        755-759     09Q3           NaN
1           B    36         735-739        755-759     09Q3           NaN
2           B    36         735-739        785-789     09Q3           NaN
3           B    36         735-739        780-784     09Q3           NaN
4           B    36         735-739        800-804     09Q3           NaN
5           B    36         735-739        745-749     09Q3           NaN
6           B    36         735-739        745-749     09Q3           NaN
7           B    36         735-739        745-749     09Q3           NaN
8           B    36         735-739        745-749     09Q3           NaN
9           B    36         735-739        775-779     09Q3           NaN
10          B    36         735-739        785-789     09Q3           NaN
11          B    36         735-739        775-779     09Q3           NaN
12          B    36         735-739        790-794     09Q3           NaN
13          B    36         735-739        760-764     09Q3           NaN
14          B    36         735-739        755-759     09Q3           NaN
15          B    36         735-739        755-759     09Q3           NaN
16          B    36         735-739        755-759     09Q3           NaN
17          B    36         735-739        775-779     09Q3           NaN
18          B    36         735-739        765-769     09Q3           NaN
19          B    36         735-739        765-769     09Q3           NaN
20          B    36         735-739        790-794     09Q3           NaN
21          B    36         735-739        790-794     09Q3           NaN
22          B    36         735-739        775-779     09Q3           NaN
23          B    36         735-739        775-779     09Q3           NaN
24          B    36         735-739        760-764     09Q3           NaN
25          B    36         735-739        780-784     09Q3           NaN
26          F    36         640-644        650-654     08Q3           NaN
27          F    36         640-644        625-629     08Q3           NaN
28          F    36         640-644        615-619     08Q3           NaN
29          F    36         640-644        615-619     08Q3           NaN
...       ...   ...             ...            ...      ...           ...
499970      C    60         705-709        780-784     13Q3           NaN
499971      C    60         705-709        780-784     13Q3           NaN
499972      C    60         705-709        775-779     13Q3           NaN
499973      C    60         705-709        775-779     13Q3           NaN
499974      C    60         705-709        780-784     13Q3           NaN
499975      C    60         705-709        775-779     13Q3           NaN
499976      C    60         705-709        775-779     13Q3           NaN
499977      C    60         705-709        785-789     13Q3           NaN
499978      C    60         705-709        780-784     13Q3           NaN
499979      C    60         705-709        780-784     13Q3           NaN
499980      C    60         705-709        785-789     13Q3           NaN
499981      C    60         705-709        785-789     13Q3           NaN
499982      C    60         705-709        790-794     13Q3           NaN
499983      C    60         705-709        790-794     13Q3           NaN
499984      C    60         705-709        790-794     13Q3           NaN
499985      C    60         705-709        805-809     13Q3           NaN
499986      C    60         705-709        805-809     13Q3           NaN
499987      C    60         705-709        805-809     13Q3           NaN
499988      C    60         705-709        805-809     13Q3           NaN
499989      C    60         705-709        805-809     13Q3           NaN
499990      C    36         705-709        705-709     13Q3           NaN
499991      C    36         705-709        745-749     13Q3           NaN
499992      C    36         705-709        745-749     13Q3           NaN
499993      C    36         705-709        715-719     13Q3           NaN
499994      C    36         705-709        715-719     13Q3           NaN
499995      C    36         705-709        705-709     13Q3           NaN
499996      C    36         705-709        720-724     13Q3           NaN
499997      C    36         705-709        680-684     13Q3           NaN
499998      C    36         705-709        710-714     13Q3           NaN
499999      C    36         705-709        705-709     13Q3           NaN

       PCO_COLLECTION_FEE
0                     NaN
1                     NaN
2                     NaN
3                     NaN
4                     NaN
5                     NaN
6                     NaN
7                     NaN
8                     NaN
9                     NaN
10                    NaN
11                    NaN
12                    NaN
13                    NaN
14                    NaN
15                    NaN
16                    NaN
17                    NaN
18                    NaN
19                    NaN
20                    NaN
21                    NaN
22                    NaN
23                    NaN
24                    NaN
25                    NaN
26                    NaN
27                    NaN
28                    NaN
29                    NaN
...                   ...
499970                NaN
499971                NaN
499972                NaN
499973                NaN
499974                NaN
499975                NaN
499976                NaN
499977                NaN
499978                NaN
499979                NaN
499980                NaN
499981                NaN
499982                NaN
499983                NaN
499984                NaN
499985                NaN
499986                NaN
499987                NaN
499988                NaN
499989                NaN
499990                NaN
499991                NaN
499992                NaN
499993                NaN
499994                NaN
499995                NaN
499996                NaN
499997                NaN
499998                NaN
499999                NaN

[15376980 rows x 41 columns]>

In [10]:
df.iloc[:4,:10]

,LOAN_ID,PBAL_BEG_PERIOD,PRNCP_PAID,INT_PAID,FEE_PAID,DUE_AMT,RECEIVED_AMT,RECEIVED_D,PERIOD_END_LSTAT,MONTH
0,54734,25000.000000,581.297917,247.802083,0.0,829.1,829.1,SEP2009,Current,SEP2009
1,54734,24418.702083,587.059790,242.040210,0.0,829.1,829.1,OCT2009,Current,OCT2009
2,54734,23831.642293,592.878776,236.221224,0.0,829.1,829.1,NOV2009,Current,NOV2009
3,54734,23238.763518,598.755439,230.344561,0.0,829.1,829.1,DEC2009,Current,DEC2009

In [16]:
df.iloc[:4,11:22]

,MOB,CO,COAMT,InterestRate,IssuedDate,MONTHLYCONTRACTAMT,dti,State,HomeOwnership,MonthlyIncome,EarliestCREDITLine
0,1,0,0.0,0.1189,AUG2009,829.1,19.48,CA,RENT,7083.333333,FEB1994
1,2,0,0.0,0.1189,AUG2009,829.1,19.48,CA,RENT,7083.333333,FEB1994
2,3,0,0.0,0.1189,AUG2009,829.1,19.48,CA,RENT,7083.333333,FEB1994
3,4,0,0.0,0.1189,AUG2009,829.1,19.48,CA,RENT,7083.333333,FEB1994

In [20]:
df.iloc[:4,23:30]

,TotalCREDITLines,RevolvingCREDITBalance,RevolvingLineUtilization,Inquiries6M,DQ2yrs,MonthsSinceDQ,PublicRec
0,42.0,28854,0.521,0.0,0.0,NaN,0
1,42.0,28854,0.521,0.0,0.0,NaN,0
2,42.0,28854,0.521,0.0,0.0,NaN,0
3,42.0,28854,0.521,0.0,0.0,NaN,0

In [73]:
df.iloc[:4,31:42]

,EmploymentLength,currentpolicy,grade,term,APPL_FICO_BAND,Last_FICO_BAND,VINTAGE,PCO_RECOVERY,PCO_COLLECTION_FEE
0,< 1 year,1,B,36,735-739,755-759,09Q3,NaN,NaN
1,< 1 year,1,B,36,735-739,755-759,09Q3,NaN,NaN
2,< 1 year,1,B,36,735-739,785-789,09Q3,NaN,NaN
3,< 1 year,1,B,36,735-739,780-784,09Q3,NaN,NaN

In [9]:
df.iloc[0:37,0:11]

,LOAN_ID,PBAL_BEG_PERIOD,PRNCP_PAID,INT_PAID,FEE_PAID,DUE_AMT,RECEIVED_AMT,RECEIVED_D,PERIOD_END_LSTAT,MONTH,PBAL_END_PERIOD
0,54734,25000.000000,581.297917,247.802083,0.0,829.1,829.10,SEP2009,Current,SEP2009,24418.702083
1,54734,24418.702083,587.059790,242.040210,0.0,829.1,829.10,OCT2009,Current,OCT2009,23831.642293
2,54734,23831.642293,592.878776,236.221224,0.0,829.1,829.10,NOV2009,Current,NOV2009,23238.763518
3,54734,23238.763518,598.755439,230.344561,0.0,829.1,829.10,DEC2009,Current,DEC2009,22640.008078
4,54734,22640.008078,604.690353,224.409647,0.0,829.1,829.10,JAN2010,Current,JAN2010,22035.317725
5,54734,22035.317725,610.684094,218.415906,0.0,829.1,829.10,FEB2010,Current,FEB2010,21424.633631
6,54734,21424.633631,616.737246,212.362754,0.0,829.1,829.10,MAR2010,Current,MAR2010,20807.896384
7,54734,20807.896384,622.850397,206.249603,0.0,829.1,829.10,APR2010,Current,APR2010,20185.045987
8,54734,20185.045987,629.024142,200.075858,0.0,829.1,829.10,MAY2010,Current,MAY2010,19556.021845
9,54734,19556.021845,635.259082,193.840918,0.0,829.1,829.10,JUN2010,Current,JUN2010,18920.762764
10,54734,18920.762764,641.555823,187.544177,0.0,829.1,829.10,JUL2010,Current,JUL2010,18279.206941
11,54734,18279.206941,647.914978,181.185022,0.0,829.1,829.10,AUG2010,Current,AUG2010,17631.291963
12,54734,17631.291963,654.337165,174.762835,0.0,829.1,829.10,SEP2010,Current,SEP2010,16976.954798
13,54734,16976.954798,660.823009,168.276991,0.0,829.1,829.10,OCT2010,Current,OCT2010,16316.131789
14,54734,16316.131789,667.373142,161.726858,0.0,829.1,829.10,NOV2010,Current,NOV2010,15648.758647
15,54734,15648.758647,673.988200,155.111800,0.0,829.1,829.10,DEC2010,Current,DEC2010,14974.770447
16,54734,14974.770447,680.668827,148.431173,0.0,829.1,829.10,JAN2011,Current,JAN2011,14294.101619
17,54734,14294.101619,1516.515674,141.684326,0.0,829.1,1658.20,FEB2011,Current,FEB2011,12777.585946
18,54734,12777.585946,702.447503,126.652497,0.0,829.1,829.10,MAR2011,Current,MAR2011,12075.138443
19,54734,12075.138443,777.890221,119.689779,0.0,829.1,897.58,APR2011,Current,APR2011,11297.248221
20,54734,11297.248221,785.600734,111.979266,0.0,829.1,897.58,MAY2011,Current,MAY2011,10511.647487
21,54734,10511.647487,793.387674,104.192326,0.0,829.1,897.58,JUN2011,Current,JUN2011,9718.259813
22,54734,9718.259813,801.251799,96.328201,0.0,829.1,897.58,JUL2011,Current,JUL2011,8917.008014
23,54734,8917.008014,809.193873,88.386127,0.0,829.1,897.58,AUG2011,Current,AUG2011,8107.814140
24,54734,8107.814140,817.214671,80.365329,0.0,829.1,897.58,SEP2011,Current,SEP2011,7290.599470
25,54734,7290.599470,7319.814971,72.265029,0.0,829.1,7392.08,OCT2011,Fully Paid,OCT2011,0.000000
26,55521,1000.000000,21.800000,13.400000,0.0,35.2,35.20,AUG2008,Current,AUG2008,978.200000
27,55521,978.200000,22.092120,13.107880,0.0,35.2,35.20,SEP2008,Current,SEP2008,956.107880
28,55521,956.107880,22.388154,12.811846,0.0,35.2,35.20,OCT2008,Current,OCT2008,933.719726
29,55521,933.719726,22.688156,12.511844,0.0,35.2,35.20,NOV2008,Current,NOV2008,911.031570
30,55521,911.031570,22.992177,12.207823,0.0,35.2,35.20,DEC2008,Current,DEC2008,888.039393
31,55521,888.039393,23.300272,11.899728,0.0,35.2,35.20,JAN2009,Current,JAN2009,864.739121
32,55521,864.739121,23.612496,11.587504,0.0,35.2,35.20,FEB2009,Current,FEB2009,841.126625
33,55521,841.126625,23.928903,11.271097,0.0,35.2,35.20,MAR2009,Current,MAR2009,817.197722
34,55521,817.197722,24.249551,10.950449,0.0,35.2,35.20,APR2009,Current,APR2009,792.948171
35,55521,792.948171,24.574495,10.625505,0.0,35.2,35.20,MAY2009,Current,MAY2009,768.373677
36,55521,768.373677,24.903793,10.296207,0.0,35.2,35.20,JUN2009,Current,JUN2009,743.469884

In [7]:
### Get the initial loan amounts

temp = df.drop_duplicates('LOAN_ID', keep='first')
PBAL_Begin = temp['PBAL_BEG_PERIOD']
PBAL_Begin[0:5]

0     25000.0
26     1000.0
46     7000.0
82     8000.0
87     7000.0
Name: PBAL_BEG_PERIOD, dtype: float64

In [8]:
############################################################################################################
####### Keeping only data critical to THIS (below) definition of default #######
####### IMPORTANT: GROUP BY LOAN_ID BUT ONLY FOR WHEN MOB = TERM i.e. the loan period should be over #######

## by LOAN_ID: keep only if MOB = term (i.e. keep only data on the final payment on loan term),
## at which point, PBAL_END_PERIOD = 0 if loan paid in full

df2 = df.drop_duplicates('LOAN_ID', keep='last')

In [31]:
##### Replace PBAL_BEG_PERIOD column with PBAL_Begin in df2
df2.reset_index()
index = pd.Series(range(len(df2)))

In [20]:
df2[df2.index.duplicated()]
df2.head()

,Unnamed: 0,LOAN_ID,PBAL_BEG_PERIOD,PRNCP_PAID,INT_PAID,FEE_PAID,DUE_AMT,RECEIVED_AMT,RECEIVED_D,PERIOD_END_LSTAT,...,MonthsSinceLastRec,EmploymentLength,currentpolicy,grade,term,APPL_FICO_BAND,Last_FICO_BAND,VINTAGE,PCO_RECOVERY,PCO_COLLECTION_FEE
25,25,54734,7290.599470,7319.814971,72.265029,0.0,829.10,7392.08,OCT2011,Fully Paid,...,NaN,< 1 year,1,B,36,735-739,780-784,09Q3,NaN,NaN
45,45,55521,531.842676,531.843308,7.126692,0.0,35.20,538.97,MAR2010,Fully Paid,...,NaN,< 1 year,0,F,36,640-644,675-679,08Q3,NaN,NaN
81,81,55742,225.819465,226.464561,2.015439,0.0,227.84,228.48,JUN2011,Fully Paid,...,NaN,< 1 year,1,B,36,705-709,740-744,08Q2,NaN,NaN
86,86,56121,7185.851574,206.296519,38.863481,0.0,245.16,245.16,JUN2016,Current,...,42.0,10+ years,1,A,36,705-709,675-679,16Q1,NaN,NaN
100,100,56413,6216.378467,0.000000,0.000000,0.0,1315.20,0.00,NaN,Charged Off,...,0.0,10+ years,0,F,36,645-649,LOW-499,08Q2,0.25,0.04

In [28]:
len(PBAL_Begin)
PBAL_Begin.reset_index()

          index  PBAL_BEG_PERIOD
0             0          25000.0
1            26           1000.0
2            46           7000.0
3            82           8000.0
4            87           7000.0
5           101          11000.0
6           108          25000.0
7           116           1200.0
8           152          10800.0
9           188           7200.0
10          210           5025.0
11          246           3000.0
12          282           4000.0
13          307           5600.0
14          343           3200.0
15          352          22400.0
16          368           3575.0
17          384           7000.0
18          414          16000.0
19          426           4000.0
20          451           5000.0
21          464           2650.0
22          500          25000.0
23          515           4400.0
24          551           2525.0
25          587          10625.0
26          623           2800.0
27          637           7500.0
28          673          10000.0
29          679           9000.0
...         ...              ...
1021297  499267           5000.0
1021298  499282           8000.0
1021299  499315          12000.0
1021300  499348           3000.0
1021301  499352           6000.0
1021302  499378           9000.0
1021303  499411          15000.0
1021304  499444          25000.0
1021305  499477          16000.0
1021306  499483          16100.0
1021307  499503          20000.0
1021308  499536          16000.0
1021309  499565          14000.0
1021310  499588          20000.0
1021311  499621           8000.0
1021312  499633           8000.0
1021313  499662          10400.0
1021314  499695           5200.0
1021315  499728          15000.0
1021316  499734          10000.0
1021317  499744           4000.0
1021318  499777          13100.0
1021319  499799          16000.0
1021320  499817          20000.0
1021321  499850           5800.0
1021322  499882          12150.0
1021323  499898          19075.0
1021324  499906          30000.0
1021325  499939          10800.0
1021326  499957          25000.0

[1021327 rows x 2 columns]

In [32]:
df2['LOAN_AMT'] = pd.Series(PBAL_Begin, index=index)
df2.drop('PBAL_BEG_PERIOD', axis=1, inplace=True)

ValueError: cannot reindex from a duplicate axis

In [14]:
df2.iloc[0:37,0:11]

,LOAN_ID,PBAL_BEG_PERIOD,PRNCP_PAID,INT_PAID,FEE_PAID,DUE_AMT,RECEIVED_AMT,RECEIVED_D,PERIOD_END_LSTAT,MONTH,PBAL_END_PERIOD
25,54734,7290.599470,7319.814971,72.265029,0.0,829.10,7392.08,OCT2011,Fully Paid,OCT2011,0.000000
45,55521,531.842676,531.843308,7.126692,0.0,35.20,538.97,MAR2010,Fully Paid,MAR2010,0.000000
81,55742,225.819465,226.464561,2.015439,0.0,227.84,228.48,JUN2011,Fully Paid,MAY2011,0.000000
86,56121,7185.851574,206.296519,38.863481,0.0,245.16,245.16,JUN2016,Current,JUN2016,6979.555055
100,56413,6216.378467,0.000000,0.000000,0.0,1315.20,0.00,NaN,Charged Off,JUN2009,6216.378467
107,56705,9386.869086,276.744315,78.145685,0.0,354.89,354.89,JUL2016,Current,JUN2016,9110.124771
115,57167,23365.347966,0.000000,0.000000,0.0,4500.56,0.00,NaN,Charged Off,APR2015,23365.347966
151,57245,39.793995,42.204463,0.525537,0.0,40.23,42.73,MAR2013,Fully Paid,MAR2013,0.000000
187,57416,362.738735,393.075428,4.924572,0.0,366.85,398.00,NOV2012,Fully Paid,NOV2012,0.000000
209,58524,3500.558260,3503.603300,55.571362,0.0,264.11,3559.18,JUN2014,Fully Paid,JUN2014,0.000000
245,58915,160.631681,161.280694,1.349306,0.0,161.99,162.63,APR2011,Fully Paid,APR2011,0.000000
281,59006,101.589660,110.022480,1.207520,0.0,102.80,111.23,OCT2012,Fully Paid,SEP2012,0.000000
306,61390,1439.031291,1444.862999,9.447001,0.0,125.13,1454.31,MAR2012,Fully Paid,MAR2012,0.000000
342,61419,360.206094,0.000000,0.000000,0.0,382.67,0.00,NaN,Charged Off,MAR2013,360.206094
351,62102,2568.127317,2571.088106,21.141894,0.0,103.08,2592.23,FEB2011,Fully Paid,FEB2011,0.000000
367,62499,14341.624338,14350.221171,191.228829,0.0,787.53,14541.45,JUN2011,Fully Paid,MAY2011,0.000000
383,62774,2924.168996,0.000000,0.000000,0.0,716.97,0.00,NaN,Charged Off,AUG2009,2924.168996
413,64949,2477.557558,0.000000,0.000000,0.0,1210.25,0.00,NaN,Charged Off,OCT2010,2477.557558
425,65419,11379.410667,434.663217,65.336783,0.0,493.23,500.00,JUN2016,Current,JUN2016,10944.747450
450,65426,1829.316151,0.000000,0.000000,0.0,524.88,0.00,NaN,Charged Off,OCT2011,1829.316151
463,65595,4071.483712,0.000000,0.000000,0.0,864.45,0.00,NaN,Charged Off,JUL2009,4071.483712
499,65640,86.341183,87.014076,0.815924,0.0,87.16,87.83,MAY2011,Fully Paid,MAY2011,0.000000
514,66128,20013.218677,374.013087,131.586913,0.0,505.60,505.60,JUN2016,Current,JUN2016,19639.205589
550,66339,148.015009,148.327827,1.702173,0.0,149.72,150.03,SEP2011,Fully Paid,SEP2011,0.000000
586,66431,83.271738,88.902689,0.847311,0.0,84.12,89.75,MAR2012,Fully Paid,MAR2012,0.000000
622,66749,356.309685,366.439325,4.000675,0.0,360.32,370.44,JAN2012,Fully Paid,DEC2011,0.000000
636,66943,2321.225866,2326.744262,22.225738,0.0,61.57,2348.97,OCT2011,Fully Paid,OCT2011,0.000000
672,66964,250.487165,251.106292,2.763708,0.0,253.26,253.87,JUN2011,Fully Paid,JUN2011,0.000000
678,67025,8720.209207,259.964912,45.345088,0.0,305.31,305.31,JUN2016,Current,JUN2016,8460.244295
701,67477,4995.003580,0.000000,0.000000,0.0,1556.00,0.00,NaN,Charged Off,MAR2010,4995.003580
728,67503,3039.756653,3042.685849,21.764151,0.0,316.11,3064.45,FEB2012,Fully Paid,FEB2012,0.000000
743,67586,4010.098443,157.274059,55.305941,0.0,212.58,212.58,JUN2016,Current,JUN2016,3852.824384
779,68163,92.167880,96.976377,0.773623,0.0,92.72,97.75,FEB2013,Fully Paid,FEB2013,0.000000
814,68381,414.369773,421.139991,2.980009,0.0,209.54,424.12,MAR2011,Fully Paid,FEB2011,0.000000
852,68400,942.628373,1012.752532,13.377468,0.0,956.01,1026.13,JUN2011,Fully Paid,JUN2011,0.000000
882,68817,12.317267,23.036784,0.113216,0.0,12.44,23.15,SEP2010,Fully Paid,SEP2010,0.000000
918,68926,76.610337,76.939202,0.840798,0.0,77.46,77.78,SEP2011,Fully Paid,AUG2011,0.000000

In [22]:
### Check a LOAN_ID whcih is considered 'Current' at end of period
val_mask = df.LOAN_ID == 65419
df[val_mask]

,LOAN_ID,PBAL_BEG_PERIOD,PRNCP_PAID,INT_PAID,FEE_PAID,DUE_AMT,RECEIVED_AMT,RECEIVED_D,PERIOD_END_LSTAT,MONTH,...,MonthsSinceLastRec,EmploymentLength,currentpolicy,grade,term,APPL_FICO_BAND,Last_FICO_BAND,VINTAGE,PCO_RECOVERY,PCO_COLLECTION_FEE
414,65419,16000.000000,408.133333,91.866667,0.0,493.23,500.0,JUL2015,Current,JUL2015,...,NaN,5 years,1,A,36,710-714,710-714,15Q2,NaN,NaN
415,65419,15591.866667,410.468925,89.531075,0.0,493.23,500.0,AUG2015,Current,AUG2015,...,NaN,5 years,1,A,36,710-714,710-714,15Q2,NaN,NaN
416,65419,15181.397742,412.833475,87.166525,0.0,493.23,500.0,SEP2015,Current,SEP2015,...,NaN,5 years,1,A,36,710-714,740-744,15Q2,NaN,NaN
417,65419,14768.564267,415.203827,84.796173,0.0,493.23,500.0,OCT2015,Current,OCT2015,...,NaN,5 years,1,A,36,710-714,725-729,15Q2,NaN,NaN
418,65419,14353.360441,417.587789,82.412211,0.0,493.23,500.0,NOV2015,Current,NOV2015,...,NaN,5 years,1,A,36,710-714,720-724,15Q2,NaN,NaN
419,65419,13935.772652,419.985439,80.014561,0.0,493.23,500.0,DEC2015,Current,DEC2015,...,NaN,5 years,1,A,36,710-714,720-724,15Q2,NaN,NaN
420,65419,13515.787213,422.396855,77.603145,0.0,493.23,500.0,JAN2016,Current,JAN2016,...,NaN,5 years,1,A,36,710-714,715-719,15Q2,NaN,NaN
421,65419,13093.390358,424.822117,75.177883,0.0,493.23,500.0,FEB2016,Current,FEB2016,...,NaN,5 years,1,A,36,710-714,715-719,15Q2,NaN,NaN
422,65419,12668.568241,427.261304,72.738696,0.0,493.23,500.0,MAR2016,Current,MAR2016,...,NaN,5 years,1,A,36,710-714,710-714,15Q2,NaN,NaN
423,65419,12241.306937,429.714496,70.285504,0.0,493.23,500.0,APR2016,Current,APR2016,...,NaN,5 years,1,A,36,710-714,715-719,15Q2,NaN,NaN
424,65419,11811.592441,432.181773,67.818227,0.0,493.23,500.0,MAY2016,Current,MAY2016,...,NaN,5 years,1,A,36,710-714,715-719,15Q2,NaN,NaN
425,65419,11379.410667,434.663217,65.336783,0.0,493.23,500.0,JUN2016,Current,JUN2016,...,NaN,5 years,1,A,36,710-714,710-714,15Q2,NaN,NaN

In [ ]:
###### From df2, only keep loans that have ended ######
df3 = df2[df2.PERIOD_END_LSTAT != 'Current']
len(df3)

In [24]:
df3.iloc[0:37,0:11]

,LOAN_ID,PBAL_BEG_PERIOD,PRNCP_PAID,INT_PAID,FEE_PAID,DUE_AMT,RECEIVED_AMT,RECEIVED_D,PERIOD_END_LSTAT,MONTH,PBAL_END_PERIOD
25,54734,7290.599470,7319.814971,72.265029,0.0,829.10,7392.08,OCT2011,Fully Paid,OCT2011,0.000000
45,55521,531.842676,531.843308,7.126692,0.0,35.20,538.97,MAR2010,Fully Paid,MAR2010,0.000000
81,55742,225.819465,226.464561,2.015439,0.0,227.84,228.48,JUN2011,Fully Paid,MAY2011,0.000000
100,56413,6216.378467,0.000000,0.000000,0.0,1315.20,0.00,NaN,Charged Off,JUN2009,6216.378467
115,57167,23365.347966,0.000000,0.000000,0.0,4500.56,0.00,NaN,Charged Off,APR2015,23365.347966
151,57245,39.793995,42.204463,0.525537,0.0,40.23,42.73,MAR2013,Fully Paid,MAR2013,0.000000
187,57416,362.738735,393.075428,4.924572,0.0,366.85,398.00,NOV2012,Fully Paid,NOV2012,0.000000
209,58524,3500.558260,3503.603300,55.571362,0.0,264.11,3559.18,JUN2014,Fully Paid,JUN2014,0.000000
245,58915,160.631681,161.280694,1.349306,0.0,161.99,162.63,APR2011,Fully Paid,APR2011,0.000000
281,59006,101.589660,110.022480,1.207520,0.0,102.80,111.23,OCT2012,Fully Paid,SEP2012,0.000000
306,61390,1439.031291,1444.862999,9.447001,0.0,125.13,1454.31,MAR2012,Fully Paid,MAR2012,0.000000
342,61419,360.206094,0.000000,0.000000,0.0,382.67,0.00,NaN,Charged Off,MAR2013,360.206094
351,62102,2568.127317,2571.088106,21.141894,0.0,103.08,2592.23,FEB2011,Fully Paid,FEB2011,0.000000
367,62499,14341.624338,14350.221171,191.228829,0.0,787.53,14541.45,JUN2011,Fully Paid,MAY2011,0.000000
383,62774,2924.168996,0.000000,0.000000,0.0,716.97,0.00,NaN,Charged Off,AUG2009,2924.168996
413,64949,2477.557558,0.000000,0.000000,0.0,1210.25,0.00,NaN,Charged Off,OCT2010,2477.557558
450,65426,1829.316151,0.000000,0.000000,0.0,524.88,0.00,NaN,Charged Off,OCT2011,1829.316151
463,65595,4071.483712,0.000000,0.000000,0.0,864.45,0.00,NaN,Charged Off,JUL2009,4071.483712
499,65640,86.341183,87.014076,0.815924,0.0,87.16,87.83,MAY2011,Fully Paid,MAY2011,0.000000
550,66339,148.015009,148.327827,1.702173,0.0,149.72,150.03,SEP2011,Fully Paid,SEP2011,0.000000
586,66431,83.271738,88.902689,0.847311,0.0,84.12,89.75,MAR2012,Fully Paid,MAR2012,0.000000
622,66749,356.309685,366.439325,4.000675,0.0,360.32,370.44,JAN2012,Fully Paid,DEC2011,0.000000
636,66943,2321.225866,2326.744262,22.225738,0.0,61.57,2348.97,OCT2011,Fully Paid,OCT2011,0.000000
672,66964,250.487165,251.106292,2.763708,0.0,253.26,253.87,JUN2011,Fully Paid,JUN2011,0.000000
701,67477,4995.003580,0.000000,0.000000,0.0,1556.00,0.00,NaN,Charged Off,MAR2010,4995.003580
728,67503,3039.756653,3042.685849,21.764151,0.0,316.11,3064.45,FEB2012,Fully Paid,FEB2012,0.000000
779,68163,92.167880,96.976377,0.773623,0.0,92.72,97.75,FEB2013,Fully Paid,FEB2013,0.000000
814,68381,414.369773,421.139991,2.980009,0.0,209.54,424.12,MAR2011,Fully Paid,FEB2011,0.000000
852,68400,942.628373,1012.752532,13.377468,0.0,956.01,1026.13,JUN2011,Fully Paid,JUN2011,0.000000
882,68817,12.317267,23.036784,0.113216,0.0,12.44,23.15,SEP2010,Fully Paid,SEP2010,0.000000
918,68926,76.610337,76.939202,0.840798,0.0,77.46,77.78,SEP2011,Fully Paid,AUG2011,0.000000
951,69001,1871.006689,1905.192248,13.937752,0.0,476.58,1919.13,JUL2012,Fully Paid,JUN2012,0.000000
987,69124,578.722380,593.209229,5.010771,0.0,583.74,598.22,APR2011,Fully Paid,MAR2011,0.000000
1023,69168,171.269940,182.650572,2.159428,0.0,173.43,184.81,APR2011,Fully Paid,APR2011,0.000000
1059,69251,186.812543,188.114583,1.245417,0.0,188.02,189.36,MAY2011,Fully Paid,MAY2011,0.000000
1095,69285,399.426412,417.272995,4.407005,0.0,403.84,421.68,APR2011,Fully Paid,APR2011,0.000000
1131,69467,234.247672,245.750913,2.399087,0.0,236.65,248.15,APR2011,Fully Paid,APR2011,0.000000

In [ ]:
df3.to_csv("LC_UniqLoansEnded_All.csv")
############################################################################################################

In [26]:
###### From df2, only keep loans that have ended ######
frame = df2[df2.PERIOD_END_LSTAT != 'Current']
frame.to_csv('LC_UniqLoansEnded_All_LoanAmt.csv')

## Stop here

In [ ]:
## Drop some string vars
df.drop(['RECEIVED_D', 'PERIOD_END_LSTAT', 'MONTH', 'IssuedDate', 'State', 'Vintage', 'grade'], axis=1, inplace=True)

In [23]:
df.EmploymentLength.value_counts()

10+ years    5019063
< 1 year     1764663
2 years      1360310
3 years      1212530
5 years       999473
1 year        981482
4 years       920650
7 years       801915
6 years       790953
8 years       746274
9 years       591712
n/a           187955
Name: EmploymentLength, dtype: int64

In [28]:
df.replace('n/a', np.nan,inplace=True)
df.EmploymentLength.fillna(value=0,inplace=True)
df['EmploymentLength'].replace(to_replace='[^0-9]+', value='', inplace=True, regex=True)
df['EmploymentLength'] = df['EmploymentLength'].astype(int)

In [29]:
df.EmploymentLength.value_counts()

10    5019063
1     2746145
2     1360310
3     1212530
5      999473
4      920650
7      801915
6      790953
8      746274
9      591712
0      187955
Name: EmploymentLength, dtype: int64

In [18]:
###### CONVERT FICO BANDS TO AVERAGES ######

## Convert APPL_FICO_BAND to average
n = len(df)
APPL_FICO_avg = []
    
for i in range(0,n):
    if i % 100000 == 0:
        print("evaluating row %d" %i)
    string = df.iloc[i]['APPL_FICO_BAND']
    if string == '850':
        APPL_FICO_avg.append(850)
    else:
        j = int(string.split(" ")[0].split("-")[0])
        k = int(string.split("-")[1].split(" ")[0])
        avg = (j+k)//2
        APPL_FICO_avg.append(avg)

# Convert Last_FICO_BAND to average
Last_FICO_avg = []
for i in range(0,n):
    if i % 100000 == 0:
        print("evaluating row %d" %i)
    string = df.iloc[i]['Last_FICO_BAND']
    if string == 'MISSING':
        Last_FICO_avg.append(0)
    elif string == 'LOW-499':
        Last_FICO_avg.append(400)
    elif string == '845-HIGH':
        Last_FICO_avg.append(848)
    else:
        j = int(string.split(" ")[0].split("-")[0])
        k = int(string.split("-")[1].split(" ")[0])
        avg = (j+k)//2
        Last_FICO_avg.append(avg)
    
df['APPL_FICO_BAND'] = pd.Series(APPL_FICO_avg, index=df.index)
df['Last_FICO_BAND'] = pd.Series(Last_FICO_avg, index=df.index)

[]

In [ ]:
## Replace appl and last FICO band in dataframe with average calculated above
df['APPL_FICO_BAND'] = APPL_FICO_avg
df['Last_FICO_BAND'] = Last_FICO_avg

In [ ]:
###### Convert Earliest Credit Line to number of months ######
from datetime import datetime

df['EarliestCREDITLine'] =  pd.to_datetime(df['EarliestCREDITLine'], format='%b%Y')

def diff_month(d1, d2):
    return (d1.year - d2.year)*12 + d1.month - d2.month

d2 = pd.datetime.now()
CreditMonths = []

for i in range(0,n):
    d1 = df['EarliestCREDITLine'].iloc[i]
    diff = diff_month(d2,d1)
    CreditMonths.append(diff)
    
df['EarliestCreditMonths'] = pd.Series(CreditMonths, index=df.index)

In [ ]:
###### Fill in any additional existing NaNs ######

df.fillna(0.0,inplace=True)
df.fillna(0,inplace=True)

In [26]:
## Examine distribution of delinquency
df.DQ2yrs.value_counts()

0.0     12536004
1.0      1904353
2.0       555618
3.0       196289
4.0        85060
5.0        43213
6.0        23391
7.0        12495
8.0         6902
9.0         4218
10.0        2820
11.0        1659
12.0        1257
13.0         970
14.0         542
15.0         388
16.0         236
18.0         185
17.0         173
19.0         137
22.0          53
21.0          43
24.0          36
20.0          31
26.0          22
29.0          18
39.0          14
27.0          13
30.0           7
Name: DQ2yrs, dtype: int64