In [1]:
import os
os.chdir(r"/Users/Greer/Desktop/Lending Club - JL")

In [2]:
##### IMPORT ONE CSV
import numpy as np
import pandas as pd
import seaborn as sns

In [ ]:
df1 = pd.read_csv("LoanStats3a.csv",skiprows=1, low_memory=False)
df1.info()
len(df1)
# 3a: 42538 observations, 111 columns/attributes

df2 = pd.read_csv("LoanStats3b.csv",skiprows=1, low_memory=False)
df2.head()
len(df2)
# 3b: 188183 observations, 111 columns/attributes

df3 = pd.read_csv("LoanStats3c.csv",skiprows=1, low_memory=False)
df3.head()
len(df3)
# 3c: 235631 observations, 111 columns/attributes

df4 = pd.read_csv("LoanStats3d.csv",skiprows=1, low_memory=False)
df4.head()
len(df4)
# 3d: 421097 observations, 111 columns/attributes

df5 = pd.read_csv("LoanStats_2016Q1.csv",skiprows=1, low_memory=False)
df5.head()
len(df5)
# 2016Q1: 133889 observations, 111 columns/attributes

df6 = pd.read_csv("LoanStats_2016Q2.csv",skiprows=1, low_memory=False)
df6.head()
len(df6)
# 2016Q2: 97856 observations, 111 columns/attributes

df7 = pd.read_csv("LoanStats_2016Q3.csv",skiprows=1, low_memory=False)
df7.head()
len(df7)
# 2016Q3: 99122 observations, 111 columns/attributes

In [ ]:
df = df1.append([df2, df3, df4, df5, df6, df7])

len(df)

### Write combined dataframe to CSV
df.to_csv('LendingClub-AllLoans.csv')

In [3]:
df = pd.read_csv("LendingClub-AllLoans.csv", low_memory=False)

In [4]:
df.drop(df.columns[[0]], axis=1, inplace=True)
df.reset_index
df.shape

(1218316, 111)

In [5]:
df.head()

,id,member_id,loan_amnt,funded_amnt,funded_amnt_inv,term,int_rate,installment,grade,sub_grade,...,num_tl_90g_dpd_24m,num_tl_op_past_12m,pct_tl_nvr_dlq,percent_bc_gt_75,pub_rec_bankruptcies,tax_liens,tot_hi_cred_lim,total_bal_ex_mort,total_bc_limit,total_il_high_credit_limit
0,1077501,1296599.0,5000.0,5000.0,4975.0,36 months,10.65%,162.87,B,B2,...,NaN,NaN,NaN,NaN,0.0,0.0,NaN,NaN,NaN,NaN
1,1077430,1314167.0,2500.0,2500.0,2500.0,60 months,15.27%,59.83,C,C4,...,NaN,NaN,NaN,NaN,0.0,0.0,NaN,NaN,NaN,NaN
2,1077175,1313524.0,2400.0,2400.0,2400.0,36 months,15.96%,84.33,C,C5,...,NaN,NaN,NaN,NaN,0.0,0.0,NaN,NaN,NaN,NaN
3,1076863,1277178.0,10000.0,10000.0,10000.0,36 months,13.49%,339.31,C,C1,...,NaN,NaN,NaN,NaN,0.0,0.0,NaN,NaN,NaN,NaN
4,1075358,1311748.0,3000.0,3000.0,3000.0,60 months,12.69%,67.79,B,B5,...,NaN,NaN,NaN,NaN,0.0,0.0,NaN,NaN,NaN,NaN

In [7]:
list(df)

['id',
 'member_id',
 'loan_amnt',
 'funded_amnt',
 'funded_amnt_inv',
 'term',
 'int_rate',
 'installment',
 'grade',
 'sub_grade',
 'emp_title',
 'emp_length',
 'home_ownership',
 'annual_inc',
 'verification_status',
 'issue_d',
 'loan_status',
 'pymnt_plan',
 'url',
 'desc',
 'purpose',
 'title',
 'zip_code',
 'addr_state',
 'dti',
 'delinq_2yrs',
 'earliest_cr_line',
 'inq_last_6mths',
 'mths_since_last_delinq',
 'mths_since_last_record',
 'open_acc',
 'pub_rec',
 'revol_bal',
 'revol_util',
 'total_acc',
 'initial_list_status',
 'out_prncp',
 'out_prncp_inv',
 'total_pymnt',
 'total_pymnt_inv',
 'total_rec_prncp',
 'total_rec_int',
 'total_rec_late_fee',
 'recoveries',
 'collection_recovery_fee',
 'last_pymnt_d',
 'last_pymnt_amnt',
 'next_pymnt_d',
 'last_credit_pull_d',
 'collections_12_mths_ex_med',
 'mths_since_last_major_derog',
 'policy_code',
 'application_type',
 'annual_inc_joint',
 'dti_joint',
 'verification_status_joint',
 'acc_now_delinq',
 'tot_coll_amt',
 'tot_cur_bal',
 'open_acc_6m',
 'open_il_6m',
 'open_il_12m',
 'open_il_24m',
 'mths_since_rcnt_il',
 'total_bal_il',
 'il_util',
 'open_rv_12m',
 'open_rv_24m',
 'max_bal_bc',
 'all_util',
 'total_rev_hi_lim',
 'inq_fi',
 'total_cu_tl',
 'inq_last_12m',
 'acc_open_past_24mths',
 'avg_cur_bal',
 'bc_open_to_buy',
 'bc_util',
 'chargeoff_within_12_mths',
 'delinq_amnt',
 'mo_sin_old_il_acct',
 'mo_sin_old_rev_tl_op',
 'mo_sin_rcnt_rev_tl_op',
 'mo_sin_rcnt_tl',
 'mort_acc',
 'mths_since_recent_bc',
 'mths_since_recent_bc_dlq',
 'mths_since_recent_inq',
 'mths_since_recent_revol_delinq',
 'num_accts_ever_120_pd',
 'num_actv_bc_tl',
 'num_actv_rev_tl',
 'num_bc_sats',
 'num_bc_tl',
 'num_il_tl',
 'num_op_rev_tl',
 'num_rev_accts',
 'num_rev_tl_bal_gt_0',
 'num_sats',
 'num_tl_120dpd_2m',
 'num_tl_30dpd',
 'num_tl_90g_dpd_24m',
 'num_tl_op_past_12m',
 'pct_tl_nvr_dlq',
 'percent_bc_gt_75',
 'pub_rec_bankruptcies',
 'tax_liens',
 'tot_hi_cred_lim',
 'total_bal_ex_mort',
 'total_bc_limit',
 'total_il_high_credit_limit']

In [6]:
df2 = df.sort_values(by='id')

In [7]:
df.head()

,id,member_id,loan_amnt,funded_amnt,funded_amnt_inv,term,int_rate,installment,grade,sub_grade,...,num_tl_90g_dpd_24m,num_tl_op_past_12m,pct_tl_nvr_dlq,percent_bc_gt_75,pub_rec_bankruptcies,tax_liens,tot_hi_cred_lim,total_bal_ex_mort,total_bc_limit,total_il_high_credit_limit
0,1077501,1296599.0,5000.0,5000.0,4975.0,36 months,10.65%,162.87,B,B2,...,NaN,NaN,NaN,NaN,0.0,0.0,NaN,NaN,NaN,NaN
1,1077430,1314167.0,2500.0,2500.0,2500.0,60 months,15.27%,59.83,C,C4,...,NaN,NaN,NaN,NaN,0.0,0.0,NaN,NaN,NaN,NaN
2,1077175,1313524.0,2400.0,2400.0,2400.0,36 months,15.96%,84.33,C,C5,...,NaN,NaN,NaN,NaN,0.0,0.0,NaN,NaN,NaN,NaN
3,1076863,1277178.0,10000.0,10000.0,10000.0,36 months,13.49%,339.31,C,C1,...,NaN,NaN,NaN,NaN,0.0,0.0,NaN,NaN,NaN,NaN
4,1075358,1311748.0,3000.0,3000.0,3000.0,60 months,12.69%,67.79,B,B5,...,NaN,NaN,NaN,NaN,0.0,0.0,NaN,NaN,NaN,NaN

In [19]:
df.to_csv("LC_database_all.csv")

## Clean for analysis purposes

### Drop Useless Vars

In [8]:
df2 = df[["loan_amnt","purpose","grade","int_rate","term","installment","funded_amnt","home_ownership","emp_title",
          "emp_length","annual_inc","dti","addr_state","earliest_cr_line","open_acc","total_acc","revol_bal",
          "revol_util","inq_last_6mths","acc_now_delinq","delinq_amnt", "delinq_2yrs", "mths_since_last_delinq", 
          "pub_rec","mths_since_last_record","mths_since_last_major_derog","collections_12_mths_ex_med",
          "loan_status"]]

# Keep only the following
# 'AMT' = loan_amnt
# 'PURPOSE' = purpose
# 'GRADE' = grade
# 'INTERESTRATE' = int_rate
# 'LOANLENGTH' = term
# 'MON_PMT' = installment
# 'STATUS' = initial_list_status (useless)
# 'FUNDING_REC' = "funded_amnt"
# 'NUM_INVESTORS' = ??
# 'SUBMIT_DATE' = ??
# 'HOMEOWNERSHIP' = home_ownership
# 'JOB_TITLE' = emp_title
# 'EMP_LENGTH' = emp_length
# 'MON_INCOME' = annual_inc//12
# 'DTI' = dti
# 'STATE' = addr_state
# 'APPL_FICO_BAND' = ??
# 'EARLIESTCREDIT' = "earliest_cr_line"
# 'OPENCRLINES' = open_acc
# 'TOTCRLINES' = total_acc
# 'RevolvingCREDITBalance' = revol_bal
# 'RevolvingLineUtilization' = revol_util
# 'Inquiries6M' = inq_last_6mths
# 'ACCS_DQ' = "acc_now_delinq"
# 'DQ_AMT' = "delinq_amnt"
# 'DQ2yrs' = delinq_2yrs
# 'MonthsSinceDQ' = mths_since_last_delinq
# 'PublicRec' = pub_rec
# 'MonthsSinceLastRec' = mths_since_last_record
# 'MonthsSinceLastDerog' = mths_since_last_major_derog
# 'Collections_exMed' = collections_12_mths_ex_med
## Default var = loan_status

In [9]:
df2.iloc[0:4,:10]

,id,loan_amnt,purpose,grade,int_rate,term,installment,funded_amnt,home_ownership,emp_title
0,1077501,5000.0,credit_card,B,10.65%,36 months,162.87,5000.0,RENT,NaN
1,1077430,2500.0,car,C,15.27%,60 months,59.83,2500.0,RENT,Ryder
2,1077175,2400.0,small_business,C,15.96%,36 months,84.33,2400.0,RENT,NaN
3,1076863,10000.0,other,C,13.49%,36 months,339.31,10000.0,RENT,AIR RESOURCES BOARD

In [10]:
df2.iloc[0:4,10:21]

,emp_length,annual_inc,dti,addr_state,earliest_cr_line,open_acc,total_acc,revol_bal,revol_util,inq_last_6mths,acc_now_delinq
0,10+ years,24000.0,27.65,AZ,Jan-1985,3.0,9.0,13648.0,83.7%,1.0,0.0
1,< 1 year,30000.0,1.00,GA,Apr-1999,3.0,4.0,1687.0,9.4%,5.0,0.0
2,10+ years,12252.0,8.72,IL,Nov-2001,2.0,10.0,2956.0,98.5%,2.0,0.0
3,10+ years,49200.0,20.00,CA,Feb-1996,10.0,37.0,5598.0,21%,1.0,0.0

In [11]:
df2.iloc[0:4,21:29]

,delinq_amnt,delinq_2yrs,mths_since_last_delinq,pub_rec,mths_since_last_record,mths_since_last_major_derog,collections_12_mths_ex_med,loan_status
0,0.0,0.0,NaN,0.0,NaN,NaN,0.0,Fully Paid
1,0.0,0.0,NaN,0.0,NaN,NaN,0.0,Charged Off
2,0.0,0.0,NaN,0.0,NaN,NaN,0.0,Fully Paid
3,0.0,0.0,35.0,0.0,NaN,NaN,0.0,Fully Paid

In [12]:
df2.dtypes

id                              object
loan_amnt                      float64
purpose                         object
grade                           object
int_rate                        object
term                            object
installment                    float64
funded_amnt                    float64
home_ownership                  object
emp_title                       object
emp_length                      object
annual_inc                     float64
dti                            float64
addr_state                      object
earliest_cr_line                object
open_acc                       float64
total_acc                      float64
revol_bal                      float64
revol_util                      object
inq_last_6mths                 float64
acc_now_delinq                 float64
delinq_amnt                    float64
delinq_2yrs                    float64
mths_since_last_delinq         float64
pub_rec                        float64
mths_since_last_record         float64
mths_since_last_major_derog    float64
collections_12_mths_ex_med     float64
loan_status                     object
dtype: object

## Preprocess the other vars

In [ ]:
## Process the non-int, non-floats

# purpose, grade, int_rate, term, home, emp_title, emp_length, state, earliest cr line, revol_util, loan_status

In [13]:
df2['purpose'].value_counts()

debt_consolidation    713405
credit_card           277273
home_improvement       75617
other                  63983
major_purchase         25214
small_business         13952
car                    12515
medical                12512
moving                  7873
vacation                7169
house                   5235
wedding                 2348
renewable_energy         782
educational              423
Name: purpose, dtype: int64

In [24]:
df2['loan_status'].value_counts()

Current                                                708949
Fully Paid                                             379408
Charged Off                                             93270
Late (31-120 days)                                      20150
In Grace Period                                          8998
Late (16-30 days)                                        4699
Does not meet the credit policy. Status:Fully Paid       1988
Does not meet the credit policy. Status:Charged Off       761
Default                                                    78
Name: loan_status, dtype: int64

In [27]:
len(df2['emp_title'].value_counts())

362789

In [14]:
## Convert some vars to categorical: state, loan_status, purpose, home ownership

# state
df2['state'] = pd.Categorical.from_array(df2.addr_state).codes
# homeownership
df2['HomeOwnCat'] = pd.Categorical.from_array(df2.home_ownership).codes
# grade
df2['GradeCat'] = pd.Categorical.from_array(df2.grade).codes
# purpose
df2['Purpose'] = pd.Categorical.from_array(df2.purpose).codes

df2.drop(['addr_state','home_ownership','grade','purpose'], axis=1, inplace=True)

# emp_title too many, must drop
df2.drop('emp_title',axis=1,inplace=True)

/Users/Greer/anaconda3/lib/python3.5/site-packages/ipykernel/__main__.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
/Users/Greer/anaconda3/lib/python3.5/site-packages/ipykernel/__main__.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
/Users/Greer/anaconda3/lib/python3.5/site-packages/ipykernel/__main__.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
/Users/Greer/anaconda3/lib/python3.5/site-packages/ipykernel/__main__.py:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
/Users/Greer/anaconda3/lib/python3.5/site-packages/ipykernel/__main__.py:12: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
/Users/Greer/anaconda3/lib/python3.5/site-packages/ipykernel/__main__.py:15: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

In [15]:
## Convert percents to numeric

### Convert int rate to integer, no %
df2.int_rate = pd.Series(df2.int_rate).str.replace('%', '').astype(float)

### Convert revolving utility to integer, no %
df2.revol_util = pd.Series(df2.revol_util).str.replace('%', '').astype(float)

/Users/Greer/anaconda3/lib/python3.5/site-packages/pandas/core/generic.py:2701: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  self[name] = value

In [16]:
## Convert the rest to numeric

## term: drop "months"
df2['term'].replace(regex=True,inplace=True,to_replace=r'\D',value=r'')
df2['term'] = df2['term'].astype(float)

## Convert employment length into more useful format ##

df2.replace('n/a', np.nan,inplace=True)
df2.emp_length.fillna(value=0,inplace=True)
df2['emp_length'].replace(to_replace='[^0-9]+', value='', inplace=True, regex=True)
df2['emp_length'] = df2['emp_length'].astype(int)

/Users/Greer/anaconda3/lib/python3.5/site-packages/pandas/core/generic.py:3443: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  self._update_inplace(new_data)
/Users/Greer/anaconda3/lib/python3.5/site-packages/ipykernel/__main__.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
/Users/Greer/anaconda3/lib/python3.5/site-packages/ipykernel/__main__.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
/Users/Greer/anaconda3/lib/python3.5/site-packages/pandas/core/generic.py:3191: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  self._update_inplace(new_data)
/Users/Greer/anaconda3/lib/python3.5/site-packages/ipykernel/__main__.py:12: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

In [17]:
## Convert earliest credit to # months
from datetime import datetime

df2['earliest_cr_line'] =  pd.to_datetime(df2['earliest_cr_line'], format='%b-%Y')

def diff_month(d1, d2):
    return (d1.year - d2.year)*12 + d1.month - d2.month

n = len(df2)
d2 = pd.datetime.now()
CreditMonths = []

for i in range(0,n):
    d1 = df2['earliest_cr_line'].iloc[i]
    diff = diff_month(d2,d1)
    CreditMonths.append(diff)
    
df2['EarliestCreditMonths'] = pd.Series(CreditMonths, index=df.index)
df2.drop('earliest_cr_line', axis=1, inplace=True)

/Users/Greer/anaconda3/lib/python3.5/site-packages/ipykernel/__main__.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
/Users/Greer/anaconda3/lib/python3.5/site-packages/ipykernel/__main__.py:18: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
/Users/Greer/anaconda3/lib/python3.5/site-packages/ipykernel/__main__.py:19: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

In [20]:
df2.dtypes

/Users/Greer/anaconda3/lib/python3.5/site-packages/ipykernel/__main__.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  if __name__ == '__main__':

id                             float64
loan_amnt                      float64
int_rate                       float64
term                           float64
installment                    float64
funded_amnt                    float64
emp_length                       int64
annual_inc                     float64
dti                            float64
open_acc                       float64
total_acc                      float64
revol_bal                      float64
revol_util                     float64
inq_last_6mths                 float64
acc_now_delinq                 float64
delinq_amnt                    float64
delinq_2yrs                    float64
mths_since_last_delinq         float64
pub_rec                        float64
mths_since_last_record         float64
mths_since_last_major_derog    float64
collections_12_mths_ex_med     float64
loan_status                     object
state                             int8
HomeOwnCat                        int8
GradeCat                          int8
Purpose                           int8
EarliestCreditMonths           float64
dtype: object

# Construct dependent variable

In [21]:
###### IMPORTANT (adjustable depending upon analysis goal) ######

## Definition using loan_status: default if not 'Fully Paid', 'In Grace Period' or 'Issued'

df2['Default'] = np.where((df2.loan_status != 'Fully Paid') & (df2.loan_status != 'In Grace Period')
                         & (df2.loan_status != 'Current'), 1, 0)

df2[['loan_status','Default']][1100:1120]

# Current                                                708949
# Fully Paid                                             379408
# Charged Off                                             93270
# Late (31-120 days)                                      20150
# In Grace Period                                          8998
# Late (16-30 days)                                        4699
# Does not meet the credit policy. Status:Fully Paid       1988
# Does not meet the credit policy. Status:Charged Off       761
# Default                                                    78

/Users/Greer/anaconda3/lib/python3.5/site-packages/ipykernel/__main__.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

          loan_status  Default
1100       Fully Paid        0
1101       Fully Paid        0
1102       Fully Paid        0
1103       Fully Paid        0
1104       Fully Paid        0
1105       Fully Paid        0
1106       Fully Paid        0
1107       Fully Paid        0
1108      Charged Off        1
1109       Fully Paid        0
1110  In Grace Period        0
1111       Fully Paid        0
1112       Fully Paid        0
1113       Fully Paid        0
1114       Fully Paid        0
1115      Charged Off        1
1116       Fully Paid        0
1117      Charged Off        1
1118       Fully Paid        0
1119      Charged Off        1

In [22]:
df2.drop('loan_status', axis=1, inplace=True)

/Users/Greer/anaconda3/lib/python3.5/site-packages/ipykernel/__main__.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  if __name__ == '__main__':

In [23]:
df2.fillna(0.0,inplace=True)
df2.fillna(0,inplace=True)

/Users/Greer/anaconda3/lib/python3.5/site-packages/pandas/core/frame.py:2762: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  downcast=downcast, **kwargs)

In [24]:
## Ensure all data is in float form
df2.apply(lambda x: pd.to_numeric(x, errors='coerce'));

In [25]:
df2.to_csv("LC_database_all_clean.csv")