In [1]:
import os
os.chdir(r"/Users/Greer/Desktop/Lending Club - JL")

import numpy as np
import pandas as pd
import seaborn as sns

# Import user-input LC_Database

In [2]:
df1 = pd.read_csv("primaryMarketNotes-browseNotes_1-RETAIL.csv", low_memory=False)

In [73]:
#list(df1)

['id',
 'member_id',
 'loan_amnt',
 'funded_amnt',
 'term',
 'int_rate',
 'exp_default_rate',
 'service_fee_rate',
 'installment',
 'grade',
 'sub_grade',
 'emp_title',
 'emp_length',
 'home_ownership',
 'annual_inc',
 'is_inc_v',
 'accept_d',
 'exp_d',
 'list_d',
 'credit_pull_d',
 'review_status_d',
 'review_status',
 'url',
 'desc',
 'purpose',
 'title',
 'zip_code',
 'addr_state',
 'msa',
 'acc_now_delinq',
 'acc_open_past_24mths',
 'bc_open_to_buy',
 'percent_bc_gt_75',
 'bc_util',
 'dti',
 'delinq_2yrs',
 'delinq_amnt',
 'earliest_cr_line',
 'fico_range_low',
 'fico_range_high',
 'inq_last_6mths',
 'mths_since_last_delinq',
 'mths_since_last_record',
 'mths_since_recent_inq',
 'mths_since_recent_revol_delinq',
 'mths_since_recent_bc',
 'mort_acc',
 'open_acc',
 'pub_rec',
 'total_bal_ex_mort',
 'revol_bal',
 'revol_util',
 'total_bc_limit',
 'total_acc',
 'total_il_high_credit_limit',
 'num_rev_accts',
 'mths_since_recent_bc_dlq',
 'initial_list_status',
 'ils_exp_d',
 'pub_rec_bankruptcies',
 'num_accts_ever_120_pd',
 'chargeoff_within_12_mths',
 'collections_12_mths_ex_med',
 'tax_liens',
 'mths_since_last_major_derog',
 'num_sats',
 'num_tl_op_past_12m',
 'mo_sin_rcnt_tl',
 'tot_hi_cred_lim',
 'tot_cur_bal',
 'avg_cur_bal',
 'num_bc_tl',
 'num_actv_bc_tl',
 'num_bc_sats',
 'pct_tl_nvr_dlq',
 'num_tl_90g_dpd_24m',
 'num_tl_30dpd',
 'num_tl_120dpd_2m',
 'num_il_tl',
 'mo_sin_old_il_acct',
 'num_actv_rev_tl',
 'mo_sin_old_rev_tl_op',
 'mo_sin_rcnt_rev_tl_op',
 'total_rev_hi_lim',
 'num_rev_tl_bal_gt_0',
 'num_op_rev_tl',
 'tot_coll_amt',
 'effective_int_rate',
 'application_type',
 'annual_inc_joint',
 'dti_joint',
 'verified_status_joint',
 'open_acc_6m',
 'open_il_6m',
 'open_il_12m',
 'open_il_24m',
 'mths_since_rcnt_il',
 'total_bal_il',
 'il_util',
 'open_rv_12m',
 'open_rv_24m',
 'max_bal_bc',
 'all_util',
 'inq_fi',
 'total_cu_tl',
 'inq_last_12m',
 'mtg_payment',
 'housing_payment']

In [3]:
df1.reset_index;

In [4]:
temp = df1[['id','loan_amnt', 'int_rate', 'term', 'emp_length', 'annual_inc', 'dti',
       'open_acc', 'revol_bal', 'revol_util', 'inq_last_6mths',
       'acc_now_delinq', 'delinq_amnt', 'delinq_2yrs',
       'mths_since_last_delinq', 'pub_rec', 'mths_since_last_major_derog',
       'collections_12_mths_ex_med', 'addr_state', 'home_ownership', 'purpose',
       'earliest_cr_line']]

### Extract relevant X_test row from input data, using Loan_ID

In [ ]:
# Take out relevant row from data
df = temp.loc[temp['id'] == loanid]

In [5]:
# df = temp
# df = temp.loc[temp['id'] == 97396029]

### Drop loan_id

In [6]:
df.drop('id', axis=1, inplace=True)

/Users/Greer/anaconda3/lib/python3.5/site-packages/ipykernel/__main__.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  if __name__ == '__main__':

## Pull info on loan to display

In [ ]:
dfa = df1.loc[df1['id'] == loanid]

In [11]:
# dfa = df1.loc[df1['id'] == 97396029]

In [24]:
# dfa.iloc[:,60:70]

,num_accts_ever_120_pd,chargeoff_within_12_mths,collections_12_mths_ex_med,tax_liens,mths_since_last_major_derog,num_sats,num_tl_op_past_12m,mo_sin_rcnt_tl,tot_hi_cred_lim,tot_cur_bal
1,0,0,0,0,0,9,2,8,87183,105576

In [23]:
# Remove 'null' value
dfa.ix[dfa.mths_since_last_major_derog == 'null', 'mths_since_last_major_derog'] = 0

/Users/Greer/anaconda3/lib/python3.5/site-packages/pandas/core/indexing.py:465: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  self.obj[item] = s

In [96]:
# dfa.iloc[0,64]
# df1.head()

,id,member_id,loan_amnt,funded_amnt,term,int_rate,exp_default_rate,service_fee_rate,installment,grade,...,il_util,open_rv_12m,open_rv_24m,max_bal_bc,all_util,inq_fi,total_cu_tl,inq_last_12m,mtg_payment,housing_payment
0,97425796,104641520,7000.0,6975.0,36,17.99,9.49,1.10,253.04,D,...,56.0,0,1,1966.0,56.9,1,0,1,0.00,
1,97396029,104611755,5600.0,5575.0,36,5.32,1.79,0.78,168.65,A,...,70.2,0,0,7659.0,45.0,0,68,1,0.00,771
2,96431465,103543187,10475.0,5200.0,36,8.24,2.10,0.85,329.41,B,...,86.0,0,2,0.0,68.2,1,3,4,2276.17,1705
3,96817196,103962924,6000.0,2650.0,36,8.24,1.83,0.85,188.69,B,...,93.7,1,2,4951.0,74.6,3,0,8,950.16,950
4,96619798,103765540,5600.0,3650.0,36,23.99,14.40,1.11,219.68,E,...,86.8,1,3,4279.0,65.5,4,2,4,1701.00,0

In [ ]:
## Output other features of the specific loan
loan_ID = dfa.iloc[0,0]
member_ID = dfa.iloc[0,1]
loan_amt = dfa.iloc[0,2]
funded_amnt = dfa.iloc[0,3]
term = dfa.iloc[0,4]
int_rate = dfa.iloc[0,5]
installment = dfa.iloc[0,8]
grade = dfa.iloc[0,9]
emp_title = dfa.iloc[0,11]
emp_length = dfa.iloc[0,12]
home_own = dfa.iloc[0,13]
annual_inc = dfa.iloc[0,14]
purpose = dfa.iloc[0,24]
state = dfa.iloc[0,27]
dq_num_accts = dfa.iloc[0,29]
dti = dfa.iloc[0,34]
dq_2yrs = dfa.iloc[0,35]
dq_amt = dfa.iloc[0,36]
earliest_cr_date = dfa.iloc[0,37]
avg_fico = (dfa.iloc[0,38]+dfa.iloc[0,39])//2
inquiries6M = dfa.iloc[0,40]
mths_last_dq = dfa.iloc[0,41]
mths_since_last_record = dfa.iloc[0,42]
open_acc = dfa.iloc[0,47]  # Number open_cr_lines
pub_rec = dfa.iloc[0,48]
revolv_balance = dfa.iloc[0,50]
revolve_util = dfa.iloc[0,51]
total_acc = dfa.iloc[0,53]
collections_exMed = dfa.iloc[0,62]
mths_last_mjrderog = dfa.iloc[0,64]

In [94]:
print(loan_ID, member_ID, loan_amt, funded_amnt, term, int_rate, installment, grade, emp_title, emp_length, home_own, annual_inc, purpose, state, dq_num_accts, dti, dq_2yrs, dq_amt, earliest_cr_date, avg_fico, inquiries6M, mths_last_dq, mths_since_last_record, open_acc, pub_rec, revolv_balance, revolve_util, total_acc, collections_exMed, mths_last_mjrderog);

## Ensure all data is in float form

In [9]:
df.dtypes

loan_amnt                      float64
int_rate                       float64
term                             int64
emp_length                      object
annual_inc                     float64
dti                            float64
open_acc                         int64
revol_bal                      float64
revol_util                     float64
inq_last_6mths                   int64
acc_now_delinq                   int64
delinq_amnt                    float64
delinq_2yrs                      int64
mths_since_last_delinq          object
pub_rec                          int64
mths_since_last_major_derog     object
collections_12_mths_ex_med       int64
addr_state                      object
home_ownership                  object
purpose                         object
earliest_cr_line                object
dtype: object

# Convert all non-numeric vars

### Employment Length

In [10]:
df.replace('n/a', np.nan,inplace=True)
df.emp_length.fillna(value=0,inplace=True)
df['emp_length'].replace(to_replace='[^0-9]+', value='', inplace=True, regex=True)
df['emp_length'] = df['emp_length'].astype(int)

### Convert object vars to numeric

In [11]:
## Revolving utilization
df['revol_util'] = df['revol_util'].apply(pd.to_numeric, args=('coerce',))

## Mths_since_last_delinq
df['mths_since_last_delinq'] = df['mths_since_last_delinq'].convert_objects(convert_numeric=True)

# mths_since_last_major_derog
df['mths_since_last_major_derog'] = df['mths_since_last_major_derog'].apply(pd.to_numeric, args=('coerce',))

/Users/Greer/anaconda3/lib/python3.5/site-packages/ipykernel/__main__.py:5: FutureWarning: convert_objects is deprecated.  Use the data-type specific converters pd.to_datetime, pd.to_timedelta and pd.to_numeric.

### Convert some vars to categorical

In [12]:
# state
df['state'] = pd.Categorical.from_array(df.addr_state).codes
# homeownership
df['HomeOwnCat'] = pd.Categorical.from_array(df.home_ownership).codes
# purpose
df['Purpose'] = pd.Categorical.from_array(df.purpose).codes

df.drop(['addr_state','home_ownership','purpose'], axis=1, inplace=True)

### Convert earliest credit to # months

In [13]:
# Format ex: 12-18-2003 16:00:00

from datetime import datetime

df['earliest_cr_line'] =  pd.to_datetime(df['earliest_cr_line'], format='%m-%d-%Y %H:%M:%S')

def diff_month(d1, d2):
    return (d1.year - d2.year)*12 + d1.month - d2.month

n = len(df)
d2 = pd.datetime.now()
CreditMonths = []

for i in range(0,n):
    d1 = df['earliest_cr_line'].iloc[i]
    diff = diff_month(d2,d1)
    CreditMonths.append(diff)
    
df['EarliestCreditMonths'] = pd.Series(CreditMonths, index=df.index)
df.drop('earliest_cr_line', axis=1, inplace=True)

# Predict using RFC model previously calibrated

In [14]:
df.fillna(0.0,inplace=True)
df.fillna(0,inplace=True)

In [15]:
######## Try to fill the empty cells

def recode_empty_cells(dataframe, list_of_columns):

    for column in list_of_columns:
      dataframe[column] = dataframe[column].replace(r'\s+', np.nan, regex=True)
      dataframe[column] = dataframe[column].fillna(0)

    return dataframe

recode_empty_cells(df,df.columns)

,loan_amnt,int_rate,term,emp_length,annual_inc,dti,open_acc,revol_bal,revol_util,inq_last_6mths,...,delinq_amnt,delinq_2yrs,mths_since_last_delinq,pub_rec,mths_since_last_major_derog,collections_12_mths_ex_med,state,HomeOwnCat,Purpose,EarliestCreditMonths
0,7000.0,17.99,36,10,65000.00,23.06,7,5506.0,60.5,1,...,0.0,0,70.0,1,70.0,0,31,1,3,230
1,5600.0,5.32,36,0,31600.00,16.98,9,7676.0,37.3,1,...,0.0,0,0.0,0,0.0,0,40,2,3,330
2,10475.0,8.24,36,1,140000.00,12.97,21,39285.0,0.0,0,...,0.0,1,11.0,0,0.0,0,4,0,3,326
3,6000.0,8.24,36,1,44400.00,18.05,10,7116.0,45.6,0,...,0.0,2,2.0,0,0.0,0,35,0,6,145
4,5600.0,23.99,36,8,63000.00,28.20,15,10752.0,50.5,0,...,0.0,0,45.0,1,61.0,0,2,1,3,166
5,4000.0,13.99,36,3,45000.00,10.32,8,371.0,5.3,2,...,0.0,1,18.0,3,44.0,0,13,2,10,171
6,5000.0,11.49,36,0,12600.00,29.81,6,4285.0,57.1,0,...,0.0,0,69.0,0,0.0,0,31,2,3,266
7,6000.0,14.99,36,10,20000.00,20.65,8,4888.0,39.1,0,...,0.0,0,0.0,0,0.0,0,40,1,3,152
8,12000.0,18.99,36,10,42000.00,20.06,5,4661.0,42.8,2,...,0.0,0,0.0,1,0.0,0,12,2,3,61
9,11150.0,18.99,36,0,52000.00,17.40,11,6319.0,75.2,0,...,1925.0,3,2.0,0,14.0,0,8,0,3,227
10,4800.0,11.49,36,2,36000.00,27.10,9,5556.0,85.5,0,...,0.0,0,0.0,0,0.0,0,45,2,2,101
11,10000.0,18.99,36,6,68000.00,24.36,18,19638.0,57.3,1,...,0.0,1,21.0,0,55.0,0,31,0,2,155
12,8450.0,12.74,36,10,23500.00,21.30,4,3145.0,82.8,0,...,0.0,0,25.0,0,0.0,0,2,2,2,57
13,10000.0,7.49,36,2,130000.00,9.98,10,8490.0,11.4,0,...,0.0,0,0.0,1,0.0,0,31,2,3,187
14,7000.0,13.99,36,3,65000.00,11.71,10,12387.0,49.2,0,...,0.0,0,0.0,1,0.0,0,9,1,3,93
15,40000.0,11.39,36,8,110000.00,12.98,13,29092.0,44.3,0,...,0.0,0,0.0,0,0.0,0,10,0,3,168
16,23500.0,29.99,60,1,47000.00,21.40,11,14517.0,77.6,2,...,0.0,0,0.0,0,0.0,0,10,2,3,250
17,35000.0,19.99,36,7,115000.00,19.19,12,28980.0,60.9,0,...,0.0,0,0.0,1,0.0,0,40,0,3,203
18,35000.0,11.39,36,10,150000.00,17.95,6,28831.0,92.6,0,...,0.0,0,38.0,0,38.0,0,12,0,3,332
19,27700.0,30.74,60,1,88400.00,24.71,20,25432.0,48.5,3,...,0.0,0,0.0,1,0.0,0,4,1,3,195
20,6750.0,16.99,36,0,18800.00,19.67,5,3168.0,32.7,0,...,0.0,0,82.0,0,82.0,0,2,2,3,267
21,35000.0,29.49,60,7,91000.00,5.87,13,3666.0,4.6,3,...,0.0,0,71.0,0,0.0,0,39,2,7,144
22,6500.0,18.99,36,7,51800.00,22.31,4,1911.0,50.3,0,...,0.0,0,0.0,0,0.0,0,7,2,9,71
23,10000.0,11.39,36,2,40000.00,26.88,9,4973.0,41.1,0,...,0.0,0,36.0,0,36.0,0,35,0,10,74
24,9700.0,16.99,36,3,89000.00,8.52,8,3675.0,78.2,0,...,0.0,0,37.0,0,37.0,0,31,2,6,136
25,15000.0,11.49,36,10,57600.00,10.46,7,5131.0,67.5,0,...,0.0,0,0.0,2,0.0,0,34,2,3,170
26,10000.0,7.49,36,2,85000.00,15.49,21,9592.0,27.2,0,...,0.0,0,36.0,0,0.0,0,8,0,2,202
27,6000.0,10.49,36,10,84000.00,1.43,7,3081.0,31.1,1,...,0.0,2,15.0,0,15.0,0,3,0,3,253
28,7000.0,11.49,36,4,135000.00,10.31,7,7589.0,77.4,0,...,0.0,0,61.0,0,0.0,0,3,2,3,140
29,3600.0,11.49,36,8,100000.00,13.57,9,8476.0,68.9,0,...,0.0,0,62.0,4,0.0,0,31,2,3,123
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
517,28675.0,6.99,36,10,125000.00,19.05,20,8229.0,12.4,0,...,0.0,1,20.0,0,0.0,0,30,0,3,331
518,29375.0,26.24,36,10,80000.00,33.65,7,15306.0,61.0,2,...,0.0,0,56.0,0,0.0,0,0,1,6,263
519,40000.0,30.74,60,10,80559.36,24.58,17,16414.0,33.2,0,...,0.0,0,0.0,1,0.0,0,3,2,3,152
520,28800.0,8.24,36,10,150000.00,26.98,30,57711.0,60.6,0,...,0.0,0,0.0,0,0.0,0,3,1,3,215
521,30000.0,17.99,36,2,157200.00,8.11,17,17258.0,40.8,2,...,0.0,0,0.0,2,0.0,0,30,0,0,279
522,32875.0,10.49,36,10,585000.00,9.78,12,39245.0,67.7,2,...,0.0,0,0.0,0,0.0,0,40,0,3,200
523,30000.0,8.24,36,4,160000.00,19.28,32,24496.0,43.5,0,...,0.0,0,0.0,1,0.0,0,42,0,3,91
524,35000.0,7.24,36,10,350000.00,7.38,12,17176.0,34.8,0,...,0.0,3,6.0,0,0.0,0,5,0,2,214
525,32000.0,11.49,36,10,105932.00,25.48,10,12761.0,51.5,1,...,0.0,1,3.0,0,0.0,0,40,0,3,229
526,30000.0,7.24,36,9,120000.00,19.73,21,27308.0,34.9,1,...,0.0,0,0.0,0,0.0,0,40,2,3,176
527,35000.0,13.99,36,1,132000.00,4.20,10,8562.0,54.5,0,...,0.0,0,24.0,1,30.0,0,31,0,6,252
528,30000.0,7.49,36,7,116000.00,24.24,12,29260.0,68.2,0,...,0.0,0,61.0,0,61.0,0,5,0,3,256
529,30000.0,8.24,36,10,140000.00,4.41,3,25768.0,102.3,0,...,0.0,0,39.0,0,0.0,0,2,1,2,323
530,35000.0,19.99,36,5,99099.00,23.58,21,30114.0,60.8,2,...,0.0,0,0.0,0,0.0,0,35,0,3,145
531,37000.0,7.24,36,10,75000.00,24.74,8,25638.0,58.0,0,...,0.0,0,0.0,0,0.0,0,32,0,2,160
532,35000.0,5.32,36,1,150000.00,19.84,12,44948.0,56.2,0,...,0.0,0,38.0,0,0.0,0,9,0,2,362
533,31000.0,8.24,36,3,138000.00,10.02,9,31782.0,92.7,0,...,0.0,0,52.0,0,0.0,0,3,0,2,124
534,35000.0,8.24,36,10,270000.00,24.38,13,63160.0,79.0,0,...,0.0,0,0.0,2,0.0,0,39,0,3,310
535,35000.0,10.49,36,10,135000.00,17.56,8,45998.0,81.8,0,...,0.0,0,0.0,0,0.0,0,17,0,3,167
536,34800.0,11.49,36,9,78000.00,32.99,13,44988.0,76.6,0,...,0.0,0,0.0,0,0.0,0,25,0,2,243
537,35000.0,16.99,36,1,53000.00,29.10,20,16506.0,82.1,1,...,0.0,4,9.0,0,13.0,0,45,0,3,173
538,35000.0,7.99,36,4,110000.00,5.17,6,26.0,0.1,2,...,0.0,0,0.0,0,0.0,0,27,0,6,201
539,34650.0,5.32,36,5,204000.00,17.28,16,221380.0,39.9,0,...,0.0,0,41.0,0,0.0,0,3,2,2,333
540,35000.0,15.99,36,5,85000.00,25.14,14,11401.0,48.7,0,...,0.0,0,0.0,0,0.0,0,30,1,10,138
541,35000.0,17.99,36,0,76726.68,22.83,13,10702.0,56.0,0,...,0.0,0,25.0,0,36.0,0,28,2,3,140
542,40000.0,10.49,36,6,93000.00,16.53,12,62383.0,51.0,0,...,0.0,0,0.0,0,0.0,0,31,0,3,203
543,40000.0,7.49,36,1,130000.00,6.72,6,33856.0,83.2,0,...,0.0,0,0.0,0,0.0,0,39,0,3,172
544,40000.0,12.74,36,10,93336.00,23.12,12,21893.0,43.5,1,...,0.0,2,12.0,0,12.0,0,3,2,3,328
545,40000.0,5.32,36,6,225000.00,2.52,8,2761.0,4.7,0,...,0.0,0,0.0,0,0.0,0,3,0,0,202
546,40000.0,7.24,36,1,478800.00,15.85,15,18540.0,47.2,0,...,0.0,0,61.0,0,61.0,0,9,2,3,245

In [16]:
X_test = df

In [20]:
######### OPEN SAVED RF MODEL WITH PICKLE (Only needed if kernel died) #########
import pickle
import _pickle

with open('RandomForest_LCdb_undersample.pkl', 'rb') as f:
    rf = pickle.load(f)

pred = rf.predict(X_test)
prob = rf.predict_proba(X_test)

In [99]:
###### Quick check of results
pred[0:1]
prob[0]
# Note: for prob, the second column is for default

array([ 0.578,  0.422])

In [100]:
output = prob[0]
output[1]

0.42199999999999999

In [120]:
df.dtypes

loan_amnt                      float64
int_rate                       float64
term                             int64
emp_length                       int64
annual_inc                     float64
dti                            float64
open_acc                         int64
revol_bal                      float64
revol_util                     float64
inq_last_6mths                   int64
acc_now_delinq                   int64
delinq_amnt                    float64
delinq_2yrs                      int64
mths_since_last_delinq           int64
pub_rec                          int64
mths_since_last_major_derog      int64
collections_12_mths_ex_med       int64
state                             int8
HomeOwnCat                        int8
Purpose                           int8
EarliestCreditMonths             int64
dtype: object